#profile-module-manager-bundle-form .module-bundle-group .form-type-checkbox {
  padding:20px;
  border:1px solid #e7e7e7;
  margin-bottom: 10px;
}
@media (min-width: 960px) {
  #profile-module-manager-bundle-form .module-bundle-group {
    display: table;
    border-spacing: 10px 5px;

  }
  #profile-module-manager-bundle-form .module-bundle-group .form-type-checkbox {
    display: table-cell;
    width:20%;
    padding:20px;
    border:1px solid #e7e7e7;
    margin-bottom: 0;

  }
  #profile-module-manager-bundle-form .module-bundle-group .module-bundle-group-spacer {
    display: table-cell;
    width:20%;
    padding:20px;
  }
}
#profile-module-manager-bundle-form .form-type-checkbox input.form-checkbox {
  float: left;
  margin:5px 5px 5px 0;
}
#profile-module-manager-bundle-form .form-type-checkbox label {
  font-weight: bold;
  overflow: hidden;
  display: block;
  line-height: 20px;
}
#profile-module-manager-bundle-form .form-type-checkbox .description {
  line-height: 20px;
  clear: both;
  margin-top: 5px;
  color:#757575;
}
