/* Bundle List Description */
.modules-bundle-description {
  margin-bottom: 20px;
}
/* Wrapper for all bundles */
.module-bundles-wrapper {

}
/* Single bundle wrapper */
.module-bundle-wrapper {

}
/* Single bundle */
.module-bundle {

}
@media screen and (min-width:768px) {
  .module-bundle {
  }
}
.bundle-enabled .module-bundle {

}
.bundle-disabled .module-bundle {

}
/* Bundle description */
.module-bundle-description {

}
/* Bundle actions */
.bundle-actions {
  padding-top: 10px;
  font-size: 75%;
}
