/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
/* End Variables & Mixins */

/**************************************************
* --
* 1. Global
* --
**************************************************/
.selectnav {
  display: none;
}
/**************************************************
* --
* 2. Section header
* --
**************************************************/

/**********************************************
* 2.3. Zone menu
**********************************************/
.zone-menu .region-menu {
  margin: 0 !important;
  width: 100% !important;
}
/**
* Navigation
*/
.navigation {
  margin: 0;
  .primary-menu ul,
  .second-menu ul {
    margin: 26px 0px;
    li {
      &.first a {
        @include rounded-corners(8px 0 0 8px); /* LTR */
      }
      &.last a {
        @include rounded-corners(0 8px 8px 0); /* LTR */
      }
    }
  }
  /* Main menu */
  .primary-menu ul li a {
    background-color: #000000;
    color: #ffffff;

    &.active,
    &:hover {
      background-color: #ffffff;
    }
    &.active {
      color: #2698F2;
    }
    &:hover {
      color: #000000;
    }
  }
/* Secondary menu */
  .second-menu ul li a {
    background-color: #ffffff;
    color: #000000;

    &.active,
    &:hover {
      background-color: #000000;
    }
    &.active {
      color: #2698F2;
    }
    &:hover {
      color: #ffffff;
    }
  }
}
/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
/* HP blocks: Top advert */
#promotional_banner {
  padding-bottom: 10px;
  left: -10px; /* LTR */
  width: 100%;
}

.block-shipping-discount {
/* HP blocks: Side advert */
  position: absolute;
  left: -50px; /* LTR */
  top: 85px;
  z-index: 100;
  #shipping {
    border-color: #FFF;
    @include rounded-corners(80px);
    height: 120px;
    line-height: 24px;
    padding: 10px 5px;
    margin-top: 0;
    width: 130px;
  }
}
/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
.view-collection-taxonomy-term .view-content .item-list {
  h3 {
    span {
      top: -90px;
    }
  }
}
