/**
 * Discount form.
 */
.commerce-discount-form {
  position: relative;
}
.commerce-discount-form .form-item-enabled {
  background-color: #eee;
  padding: 10px 10px 20px 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
}
.commerce-discount-form .form-item-label {
  clear: both;
}
.commerce-discount-form .form-item-label .form-item {
  padding: 0px;
}
.commerce-discount-form .form-item.form-type-radio {
  position: relative;
}
.commerce-discount-form .form-item.form-type-radio .ajax-progress-throbber {
  position: absolute;
  right: -10px;
}
.commerce-discount-form .form-item.form-type-radio .ajax-progress-throbber .message {
  display: none;
}
.commerce-discount-form #commerce-discount-fields-wrapper > .form-wrapper {
  margin-bottom: 15px;
}
.commerce-discount-form #edit-actions {
  clear: both;
}

/**
 * Choose discount type block.
 */
.form-item-commerce-discount-type .form-radios {
  margin-top: 5px;
}
.form-item-commerce-discount-type .form-radios .form-item {
  color: black;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 5px;
  float: left;
}
.form-item-commerce-discount-type .form-radios .form-item:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}
.form-item-commerce-discount-type .form-radios .form-item:hover label {
  cursor: pointer;
}
.form-item-commerce-discount-type .form-radios .form-item.selected {
  background-color: #eee;
}
.form-item-commerce-discount-type .form-radios .form-item .ajax-progress {
  display: none;
}
.form-item-commerce-discount-type .form-radios .form-item #edit-commerce-discount-type {
  padding: 0px;
  clear: both;
  margin-top: 10px;
  clear: none;
}
.form-item-commerce-discount-type .form-radios .form-item #edit-commerce-discount-type .form-item {
  color: black;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 5px;
}
.form-item-commerce-discount-type .form-radios .form-item #edit-commerce-discount-type .form-item:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}
.form-item-commerce-discount-type .form-radios .form-item #edit-commerce-discount-type .form-item:hover label {
  cursor: pointer;
}
.form-item-commerce-discount-type .form-radios .form-item #edit-commerce-discount-type .form-item input {
  display: inline;
}
.form-item-commerce-discount-type .form-radios .form-item #edit-commerce-discount-type .form-item {
  float: left;
}

/**
 * Order/Product discount conditions block.
 */
.commerce-discount-box div.inline-conditions-container > label {
  border-bottom: 1px solid #cccccc;
  display: block;
  width: 100%;
}

/**
 * Choose offer type block.
 */
.field-name-commerce-discount-offer {
  border: none;
  margin: 0;
  padding: 0;
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-item {
  margin-bottom: 2px;
  padding: 0;
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-item label {
  border-bottom: 1px solid #cccccc;
  padding-left: 5px;
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-item div.form-radios {
  padding: 0px;
  clear: both;
  margin-top: 10px;
  background-color: transparent;
  border-right: 1px dotted #cccccc;
  /* LTR */
  float: left;
  /* LTR */
  margin: 10px;
  padding: 4px;
  padding-right: 20px;
  /* LTR */
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-item div.form-radios .form-item {
  color: black;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 5px;
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-item div.form-radios .form-item:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-item div.form-radios .form-item:hover label {
  cursor: pointer;
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-item div.form-radios .form-item input {
  display: inline;
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-item div.form-radios .form-item.selected {
  background-color: #eee;
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-item div.form-radios .form-item .ajax-progress {
  display: none;
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-item div.form-radios label {
  border-bottom: 0;
  padding-left: 0;
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-wrapper label {
  border-bottom: 0;
  padding-left: 0;
}
.field-name-commerce-discount-offer .form-wrapper .form-wrapper .form-wrapper .form-item {
    background-color: transparent;
    float: left;
    /* LTR */
    margin: 10px;
    padding: 4px;
}

/**
 * Discount dates block.
 */
.field-name-commerce-discount-date {
  clear: both;
}
.field-name-commerce-discount-date fieldset.form-wrapper {
  border: none;
}
.field-name-commerce-discount-date fieldset.form-wrapper legend {
  width: 100%;
}
.field-name-commerce-discount-date fieldset.form-wrapper .fieldset-legend {
  border-bottom: 1px solid #cccccc;
  display: block;
  margin-top: 0;
  padding-left: 0;
  text-transform: none;
  width: 100%;
}
.field-name-commerce-discount-date .form-wrapper fieldset.form-wrapper {
  margin: 0;
}
.field-name-commerce-discount-date .fieldset-wrapper {
  padding: 0px;
  background-color: transparent;
  display: inline-block;
  margin: 10px;
  padding: 4px;
  width: auto;
}
.field-name-commerce-discount-date .fieldset-wrapper .form-type-checkbox {
  display: none;
}
.field-name-commerce-discount-date .fieldset-wrapper .container-inline-date {
  clear: none;
  float: left;
  width: auto;
}
.field-name-commerce-discount-date .fieldset-wrapper .container-inline-date .description {
  display: none;
}
.field-name-commerce-discount-date .fieldset-wrapper .container-inline-date .form-item {
  padding: 0;
}
.field-name-commerce-discount-date .fieldset-wrapper .container-inline-date .date-padding {
  float: left;
  padding: 0;
}
.field-name-commerce-discount-date .fieldset-wrapper .container-inline-date .date-padding input.form-text {
  width: 55px;
}
.field-name-commerce-discount-date .fieldset-wrapper .container-inline-date .date-padding > .form-item:first-child input.form-text {
  background: white url("../../date/date_api/images/calendar.png") no-repeat 86px 0px;
  width: 100px;
}
.field-name-commerce-discount-date .fieldset-wrapper .container-inline-date > .form-item {
  border: none;
}
.field-name-commerce-discount-date .fieldset-wrapper .container-inline-date label {
  display: block;
  float: left;
  padding-right: 10px;
}
.field-name-commerce-discount-date .fieldset-wrapper .container-inline-date.end-date-wrapper {
  margin-left: 20px;
}

/**
 * Usage block.
 */
.commerce-discount-usage {
    clear: both;
}
.commerce-discount-usage .form-item.form-type-select {
  margin: 0;
}
.commerce-discount-usage .form-item.form-type-select label {
  border-bottom: 1px solid #cccccc;
}
.commerce-discount-usage .form-item .form-select {
  float: left;
  margin: 10px;
}
.commerce-discount-usage .field-name-commerce-discount-max-uses {
  padding: 0px;
}
.commerce-discount-usage .field-name-commerce-discount-max-uses > div {
  float: left;
  margin-left: 30px;
}
.commerce-discount-usage .field-name-commerce-discount-max-uses > div:first-child {
  margin-left: 0;
}
.commerce-discount-usage .field-name-commerce-discount-max-uses > div input[disabled] {
  background: #eeeeee;
}
.commerce-discount-usage .field-type-number-integer {
  float: left;
}
.commerce-discount-usage .field-type-number-integer .form-item {
  padding: 0;
}
.commerce-discount-usage .field-type-number-integer label {
  display: inline;
  font-weight: normal;
  margin-left: 10px;
}
.commerce-discount-usage .field-type-number-integer .form-disabled input {
  border: none;
  background: none;
}

/**
 * Overview table.
 */
.view-commerce-discount-overview .views-table {
  border: none;
}
.view-commerce-discount-overview .views-table tr, .view-commerce-discount-overview .views-table td {
  border: none;
}
.view-commerce-discount-overview .views-table th {
  text-transform: none;
}
.view-commerce-discount-overview .views-table th .views-field-operations-dropbutton {
  width: 70px;
}
.view-commerce-discount-overview .views-table td .views-field-type {
  padding: 10px 20px;
}
.view-commerce-discount-overview .views-table td .views-field-commerce-discount-usage li {
  list-style-type: none;
}
.view-commerce-discount-overview .views-table td .views-field-commerce-discount-usage li.first {
  color: #6d6d6d;
  font-style: italic;
}
.view-commerce-discount-overview .views-table td .views-field-enable-disable .item-list ul {
  width: 140px;
  border: 2px solid #6d6d6d;
  border-radius: 5px;
  height: 30px;
}
.view-commerce-discount-overview .views-table td .views-field-enable-disable .item-list ul li {
  display: block;
  width: 50%;
  float: left;
  text-transform: uppercase;
  padding: 5px 0;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  color: white;
  line-height: 20px;
}
.view-commerce-discount-overview .views-table td .views-field-enable-disable .item-list ul li.enabled {
  background-color: #7cae20;
}
.view-commerce-discount-overview .views-table td .views-field-enable-disable .item-list ul li.disabled {
  background-color: #4d4e49;
}
.view-commerce-discount-overview .views-table td .views-field-enable-disable .item-list ul li a {
  color: #6d6d6d;
}
.view-commerce-discount-overview .views-table td .views-field-operations-dropbutton {
  position: relative;
}
.view-commerce-discount-overview .views-table td .views-field-operations-dropbutton .ctools-dropbutton {
  border: 1px solid #cccccc;
  border-radius: 10px;
  background-image: linear-gradient(top, #fcfdfc 36%, #f0f0f0 68%);
  background-image: -o-linear-gradient(top, #fcfdfc 36%, #f0f0f0 68%);
  background-image: -moz-linear-gradient(top, #fcfdfc 36%, #f0f0f0 68%);
  background-image: -webkit-linear-gradient(top, #fcfdfc 36%, #f0f0f0 68%);
  background-image: -ms-linear-gradient(top, #fcfdfc 36%, #f0f0f0 68%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.36, #fcfdfc), color-stop(0.68, #f0f0f0));
}
.view-commerce-discount-overview .views-table td .views-field-operations-dropbutton .ctools-dropbutton .ctools-content {
  border-right: 1px solid #cccccc;
}
