.navbar-bar .toolbar-icon-escape-admin:before {
  background-image: url("../icons/chevron-disc-left.svg");
}
.no-svg .navbar-bar .toolbar-icon-escape-admin:before {
  background-image: url("../icons/chevron-disc-left.png");
}
[dir="rtl"] .navbar-bar .toolbar-icon-escape-admin:before {
  background-image: url("../icons/chevron-disc-right.svg");
}
[dir="rtl"] .no-svg .navbar-bar .toolbar-icon-escape-admin:before {
  background-image: url("../icons/chevron-disc-right.png");
}
#navbar-administration .navbar-bar .navbar-icon.element-hidden {
  display: none;
}
