body,
body.overlay {
  background-color: @bg;
  color: @text;
}
#header,
#main-wrapper,
.panel {
  background-color: @bg;
}
.site-name,
.site-slogan {
  color: @titleslogan;
}
h1,h2,h3,h4 {
  color: @text;
}
#featured .tint,
.panel-top .tint,
.pane-dkan-sitewide-demo-front-dkan-demo-front .pane-content {
  background-color: @top_rgb;
}

.form-actions {
  background-color: @bg;
}

a {
  color: @link;
}
a:hover,
a:focus {
  color: @linkhover;
}
a:active {
  color: @linkactive;
}

div.vertical-tabs {
  border-color: @toolbarborder;
}
div.vertical-tabs ul.vertical-tabs-list li {
  border-color: @bg @toolbarborder @bg @bg;
}
div.vertical-tabs ul.vertical-tabs-list li.selected {
  border-color: @toolbarborder @bg @toolbarborder @toolbarborder;
}
div.vertical-tabs ul.vertical-tabs-list li a:hover {
  background: @bottom;
  color: #ffffff;
}

.navigation-wrapper {
  background: @toolbarbtn;
}
.navbar-default .navbar-nav li > a,
.navbar-default .user-menu li > a { color: #fff; }

.navbar-default .navbar-nav li > a:hover,
.navbar-default .navbar-nav li > a:focus,
.navbar-default .user-menu li > a:hover,
.navbar-default .user-menu li > a:focus { background-color:@bottom; color: #fff; }

.navbar-default .navbar-nav li.active > a,
.navbar-default .navbar-nav li.active > a:hover,
.navbar-default .navbar-nav li.active > a:focus,
.navbar-default .user-menu li.active > a,
.navbar-default .user-menu li.active > a:hover,
.navbar-default .user-menu li.active > a:focus { background:@linkactive; color: #fff; }

#block-dkan-sitewide-dkan-sitewide-user-menu .links a:hover, 
#block-dkan-sitewide-dkan-sitewide-user-menu .links a:focus { background-color:@bottom; color: #fff; }


.nav.nav-pills li a,
.tabs--primary li a {
  border:1px solid @toolbarborder;
  background: @bg;
  color:  @top;
}

.nav.nav-pills li a:hover,
.tabs--primary li a:hover {
  border:1px solid @bottom;
  background: @bottom;
  color: #ffffff;
}

.nav.nav-pills > li > a.active,
.nav.nav-pills > li > a:focus
.nav.nav-pills li.active a:hover,
.nav.nav-pills li.active a:focus,
.tabs--primary li a.active
.tabs--primary li a:focus {
  border:1px solid @linkactive;
  background: @linkactive;
  color:#ffffff;
}

.pane-views-group-block-block .group-subscribe-message,
#block-views-group-block-block .block-content .group-subscribe-message {
  background-color: @top;
}
.view-group-block .views-field-nid a,
.btn-primary,
.links .btn,
input.btn {
  background-color: @top;
  border:1px solid @top;
  color:#ffffff;
}

.view-group-block .views-field-nid a:hover,
.btn-primary:hover,
.links .btn:hover,
input.btn:hover,
input[type="submit"]:hover {
  background:@bottom;
  border:1px solid @bottom;
  color:#ffffff;
}

.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active,
.links .btn:focus,
.links .btn.focus,
input.btn:focus, 
input[type="submit"]:focus, 
input[type="submit"]:active {
  background: @linkactive;
  border-color: @linkactive;
  color: #ffffff;
}

.region-sidebar-first .block-facetapi ul li.leaf a:hover,
.block-facetapi ul li.leaf a:hover {
  color:@top;
}

a.embed-link {
  background: @top;
}
a.embed-link:hover, 
a.embed-link:focus, 
a.embed-link:active {
  background: @bottom;
}

.autocomplete-deluxe-container,
div.autocomplete-deluxe-multiple,
.chzn-container-multi .chzn-choices,
.chzn-container-single .chzn-single,
.form-control,
.panel-default {
  border-color: @toolbarborder;
}

.panel-default > .panel-heading {
  color: @text;
  background-color: @toolbarborder;
  border-color: @toolbarborder;
}

.radix-layouts-sidebar .pane-block .pane-content,
.radix-layouts-content .pane-content,
.view-front-page-group-grid .span6 span, 
.view-front-page-group-grid .col-lg-6 span,
.horizontal-tabs ul.horizontal-tabs-list li.selected a {
  background-color: @bg;
}
.radix-layouts-sidebar .pane-title {
  background: @toolbarborder;
  color: @text;
}
.radix-layouts-sidebar div[class*="pane-facetapi"] .pane-title {
  background: #dddddd;
  color: #333333;
}
.radix-layouts-sidebar div[class*="pane-facetapi"] .pane-content {
  background: #fff;
}

.horizontal-tabs ul.horizontal-tabs-list .selected strong {
  color: @text;
}

#url-edit-prefix {
  background-color: @bg;
  border-color: @toolbarborder; 
}
#url-slug,
#field-tags-wrapper .path-form .add-on {
  background-color: @linkactive;
  border-color: @toolbarborder;
  color: @bg;
}

.node-dataset #data-and-resources ul.resource-list li .heading, 
.node-dataset #data-and-resources ul.resource-list li .heading:hover {
  color: @text;
}

.footer {
  background-color: @footer;
  color: @sidebar;
}
.footer a {
  color: @sidebarborders;
}