#cu-alerts .alert {
	background: #990000;
	background: #e51c23;
	padding: 15px 10%;
	color: #fff;
	margin: 0;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	text-align: center;
	font-weight: 600;
}

#cu-alerts a:link,
#cu-alerts a:visited {
	color: #111;
	background: #fff;
  font-size: 14px;
	display: inline-block;
	line-height: 110%;
	font-weight: 700;
	padding: 4px 8px;
	margin:0 10px;
	white-space: nowrap;
}
