/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also apply to the widescreen layout unless they are overridden by the widescreen styles. */
.container-12 .block-inner .grid-1 { width: 40px; }
.container-12 .block-inner .grid-2 { width: 20px; }
.container-12 .block-inner .grid-3 { width: 200px; }
.container-12 .block-inner .grid-4 { width: 280px; }
.container-12 .block-inner .grid-5 { width: 360px; }
.container-12 .block-inner .grid-6 { width: 440px; }
.container-12 .block-inner .grid-7 { width: 520px; }
.container-12 .block-inner .grid-8 { width: 600px; }
.container-12 .block-inner .grid-9 { width: 680px; }
.container-12 .block-inner .grid-10 { width: 760px; }
.container-12 .block-inner .grid-11 { width: 840px; }
.container-12 .block-inner .grid-12 { width: 920px; }
