@import "modules/_global.scss";

body, table.body {
	background-color:#FFFFFF;
}
.container {
  background-color: #FFFFFF;
}
/* Newsletter Title & Logo */
.title,
.title td {
  // Design
	background-color:#FFFFFF;
  color:#000000;
}
.title td.newsletter-name h1 {
  // Design
  color:#000000;
}
/* Newsletter Issue & Weblink */
.title-bottom {
  // Design
  background-color: #000000;
}
.issue {
  // Design
  background-color: #ffffff;
}
td.issue-date {
  // Design
  color:#757575;
}
td.web-link a {
  // Design
  color:#757575;
	&:link,
	&:visited,
	&:active {
		color: #757575 !important;
	}
}
td.web-link a:hover {
  // Design
  color:#000000 !important;
}
.title td h1 {
  // Design
	color:#000000;
}
/* Article List */
.article-list {
  // Design
  background-color: #fff;
}
/* Articles */
.content-top td.newsletter-sections {
  padding-top: 10px;
  // Design
  background-color: #FFFFFF;
}
.article-section-title,
.article-section-link,
.article-content {
  // Design
  background-color: #FFFFFF;
}
.article-content {
  // Design
  background-color: #FFFFFF;
}
.article-intro,
.article-intro td {
  // Design
  background-color: #FFFFFF;
}
/* Ads/Promos */
.newsletter-ad-1 {
  // Design
  background-color: #FFFFFF;
}
.newsletter-ad-2 {
  // Design
  background-color: #FFFFFF;
}
/* Blocks */
.blocks {
  // Design
  background-color: #FFFFFF;
}

/* Footer */
.email-footer {
  border-top:1px solid #e7e7e7;
}
.footer {
  // Design
  background-color: #FFFFFF;
}
.footer-content {
  // Design
  color:#000000;
}
.footer-content p {
  // Design
  color:#000000;
}
.footer-content a {
  // Design
  color:$link;
	&:link,
	&:visited,
	&:active {
		color:$link !important;
	}
}
.footer-content a:hover {
  // Design
  color:$link !important;
}
