form div.nodeconnect-edit input,
form div.nodeconnect-add input{
  background: url(add.png) no-repeat;
  text-indent: -1000px;
  width: 16px;
  height : 16px;
  border:0px;
  -moz-box-shadow: none;
  box-shadow:none;
  margin: 0;
  padding: 0;
}
form div.nodeconnect-edit input {
  background: url(pencil.png) no-repeat;
}
.nodeconnect-edit,
.nodeconnect-add{
  float: right;
  padding: 3px;
  min-width: 16px;
  width:3.5%;
  height : 16px;
}
.nodeconnect-edit input[disabled] {
  background: none;
}
.field-type-node-reference .form-type-textfield input[type=text] {
  width:88%;
}
