@import "../modules/_global.scss";
@import "../modules/_colors.scss";

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  height:auto;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
  font-size: 100%;
}

input.form-text,
textarea.form-textarea,
input[type=text],
input[type=email],
input[type=tel],
textarea {
  padding:10px;
  border:1px solid #ddd;
  background-color: #f0f0f0;
  line-height: 150%;
}
input.form-text,
input[type=text],
input[type=email],
input[type=tel], {
  max-width:100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
input.form-text:focus,
textarea.form-textarea:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
  background-color: #f4f4f4;
  outline: $link_blue solid 2px;
}
input[type=submit],
form button {
  color:#222;
  background:#f0f0f0;
  font-size: 85%;
  border:none;
  padding:5px 10px;
  font-weight:600;
  font-family: $base_font;
  @include rounded($radius: $radius_small);
  transition: background-color 0.5s ease;
  @include shadowtransition;
  @include rgbashadow(0, 1px, 2px, #000000, .20);
  border:1px solid #ddd;
}
#search,
#mobile-search {
  input[type=submit] {
    @include rgbashadow(0, 0px, 0px, #ffffff, 0);
    border: none;
  }
}
.banner-black,
.banner-dark,
.banner-light {
  #search input.form-text {
    border: none;
  }
}
input[type=submit]:focus,
form button:focus {
  outline: $green solid 2px;
}
input[type=reset]:focus {
  outline: $red solid 2px;
}
input[type=radio]:focus,
input[type=checkbox]:focus,
select:focus {
  //outline: $link_blue solid 2px;
}
html.js input.form-autocomplete {
  background-image: url(../images/autocomplete.gif);
  background-position: 98% 45%;
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-image: url(../images/throbber.gif);
  background-position: 98% 45%;
  background-repeat: no-repeat;
}

fieldset {
  padding:10px;
  border:1px solid #e5e5e5;
  legend {
    font-weight: bold;
    font-size: 120%;
    padding:0 10px;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
  }
}
form label {
  font-weight: bold;
}
