$cugold: #cfb87c;
$lightcugold: #f1dba3;

$link_blue: #007BC8;
$dark_link_blue: #006DB1;
$light_link_blue: #76cff7;
$blue: $link_blue;

/* Backgrounds & Borders */
$light_gray: #f4f4f4;
$dark_gray: #272727;
$light_blue: #EBF7FF;
$tan: #fffbf0;
$border_color: #e0e0e0;

/* Icon Colors */
$iconRed: #C03D23;
$iconGreen: #869839;
$iconSkyBlue: #9BCDD8;
$iconPurple: #453455;
$iconOrange: #B6542A;
$iconBlue: #254B77;
$iconYellow: #D0AB51;

/* Other colors */
$text: #202020;
