
#commerce-kickstart-inline-help #edit-commerce-kickstart-inline-help-close-button {
  left: 0;
  right: auto;
}
#commerce-kickstart-inline-close-help-form-ajax .ajax-progress {
  left: 100px;
  right: auto;
}
#commerce-kickstart-inline-help-form-ajax #edit-commerce-kickstart-inline-help-button {
  float: left;
}
