.events-calendar-grid {
  font-size: 85%;
  position: relative;

}
.events-calendar-grid table {
  width:100%;
}
#content .events-calendar-grid table tr th.titleSmallGrid,
.content .events-calendar-grid table tr th.titleSmallGrid {
  font-size: 85%;
  font-weight: bold;
  text-align: left;
  background-color: #333;
  color:#fff;
  padding:5px;
  border:none;
}
#content .events-calendar-grid table tr th.dayheaderSmallGrid,
.content .events-calendar-grid table tr th.dayheaderSmallGrid {
  background-color: #e5e5e5;
  color:#363636;
  border:none;
  padding:5px;
  text-align: center;
}

#content .events-calendar-grid table tr td.calendarcellSmallGrid,
.content .events-calendar-grid table tr td.calendarcellSmallGrid {
  border:1px solid #e5e5e5;
}
#content .events-calendar-grid table tr td.otherdaySmallGrid, 
.content .events-calendar-grid table tr td.otherdaySmallGrid {
  border:1px solid #e5e5e5;
}
.events-calendar-grid table tr td.calendarcellSmallGrid a,
.events-calendar-grid table tr td.calendarcellSmallGrid a:hover,
.events-calendar-grid table tr td.calendarcellhiliteSmallGrid a {
  font-weight: bold;
}  

.events-calendar-grid br {
  display: none;
}
.events-grid-nav {
  position: absolute;
  top:3px;
  right:0;
  font-size: 150%;
}
.events-grid-nav a {
  padding:0 5px;
  color:#fff !important;
}
.events-grid-nav a span {
  display: none;
}
.events-grid-nav a.events-nav-disabled {
  display: none;
}