div#edit-field-event-categories-und {
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  -webkit-column-rule: 1px solid #ddd;

  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -moz-column-rule: 1px solid #ddd;

  column-count: 4;
  column-gap: 20px;
  column-rule: 1px solid #ddd;
}