/*
  EVENTS CALENDAR TEMPLATE IDs 

  44 => 'Title, time & date',
  46 => 'Title, time, date & description',
  1048 => 'Title, image, time, date & description',

*/

.event-desc,
.event-desc span,
.event-desc div
.event-desc p {
  font-family: inherit !important;
  font-size: 100% !important;
}
.event-cal-event {
   overflow:hidden;
}
.events-calendar-template-46 .event-cal-event,
.events-calendar-template-1048 .event-cal-event {
  padding-bottom:20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.events-calendar-template-1048 .event-cal-event img {
  float:right;
  margin: 0 0 10px 10px;
}

/* Design 2 */

.event-cal-date-wrapper {
  float:left;
  width:40px;
  margin-right: 10px;
  text-align: center;
  text-transform: uppercase;
  
  background-color: #f7f7f7;
}
.event-date-month {
  background-color:#e51c23;
  background-color: #D24637;
  color:#fff;
  font-weight:600;
  font-size: 85%;
}
.event-date-day {
  font-weight: 700;
  font-size: 110%;
  border:1px solid #e7e7e7;
  border-top: none;
  color:#333;
}
.event-cal-content {
  overflow: hidden;
}
.events-calendar-template-1051 .event-cal-title,
.events-calendar-template-1052 .event-cal-title {
  font-size: 120%;
  line-height: 110%;
}

/* Design 3 */

.events-calendar-template-1050 {
  display:table;
  border-collapse:collapse;
}
.event-cal-row {
  display:table-row;
  border:1px solid #ddd;
}
.event-cal-cell,
.event-call-cell {
  display:table-cell;
  padding:10px;
  border:1px solid #ddd;
  
}
.event-cal-date {
  border-right:none;
}
.event-cal-name {
  border-left:none;
}




