/* Responsive Styles */
@media only screen and (max-width: 600px) { body { padding: 0px !important; }
  .title td h1 { font-size: 21px !important; word-break: normal; }
  .ad img { width: 100%; height: auto; }
  a.button, a.button:link, a.button:visited, p.field-name-field-newsletter-more-link a { display: block !important; } }
