@import "zen";
$zen-gutter-width:  40px;

.magazine-section-wrapper {
  overflow: hidden;
}
h2.field-name-field-issue-section-title {
  margin-bottom: 20px;
}
.issue-contents p.date,
.issue-contents .author-meta {
  display: none;
}
.issue-section-contents div.node-view-mode-feature:last-child,
.issue-section-contents div.node-view-mode-teaser:last-child {
  border-bottom: none;
}

.field-name-field-article-author {
  margin-top:20px;
  padding-top: 20px;
  border-top: 1px solid #e7e7e7;
}
.field-name-field-article-author .person-view-mode-teaser-content {
  border-bottom: none;
}
@media all and (min-width: 720px) {
  $zen-column-count:  3;
  .issue-wrapper {
    //@include zen-grid-container();
    //margin:0 -20px;
  }
  .issue-cover-image {
     //@include zen-grid-item(1,1);
     img {
       width:100%;
       height: auto;
       max-width: 100%;
     }
  }
  .issue-contents {
     //@include zen-grid-item(2,2);
  }
}

@media all and (max-width: 719px) {
  .issue-notes {
    border-bottom:1px solid #e7e7e7;
    padding-bottom: 20px;
    margin-bottom: 20px;
    $zen-column-count:  2;
    //@include zen-grid-container();
    //margin-right:-20px;
    //margin-left:-20px;

    .issue-cover-image {
      //@include zen-grid-item(1,1);
    }
    .issue-notes-content {
      //@include zen-grid-item(1,2);
      //font-size: 85%;
    }
  }
}
.issue-cover-image img {
  display: block;
  margin-bottom: 10px;
}



.publication-name-wrapper {
  padding:20px 20px;
  background-color: #272727;
  color:#fff;
  overflow: hidden;
  img {
    float: right;
  }
}

#zone-intro,
#intro-wide-wrapper {
  img.publication-logo {
    width: auto;
    height: auto;
    max-width: 100% !important;
  }
}
body .page-title-wrapper h1.long-title {
  font-size: 180%;
}

/* Current Issue Block */
h3.current-issue-title {
  text-align: center;
  font-size: 100%;
  margin: 0;
  padding:5px 0;
}
/* Latest Issues Block */
.issue-view-mode-grid  {
  margin-bottom: 20px;
  h3.issue-title {
    text-align: center;
    font-size: 100%;
  }
}
.current-issue,
.latest-issues,
.view-issue-archive {
  overflow: hidden;
  img {
    display: block;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 719px) {
  .latest-issues {
    overflow: hidden;
    $zen-column-count:  2;
    @include zen-grid-container();

    .issue-view-mode-grid  {
      @include zen-float();
      @include zen-grid-flow-item(1,2, false, true);
      &:nth-child(2n+2) {
        @include zen-grid-flow-item(1, 2, false, false);
      }
      &:nth-child(2n+1) {
        @include zen-clear();
      }
    }
  }
  .view-issue-archive .view-content {
    overflow: hidden;
    //margin-right:-20px;
    //margin-left:-20px;
    $zen-column-count:  2;
    @include zen-grid-container();

    .archive-issue {
      @include zen-float();
      @include zen-grid-flow-item(1,2, false, true);
      &:nth-child(2n+2) {
        @include zen-grid-flow-item(1, 2, false, false);
      }
      &:nth-child(2n+1) {
        @include zen-clear();
      }
    }
  }
}

@media all and (min-width: 720px) {
  .latest-issues {
    $zen-column-count:  4;
    @include zen-grid-container();
    .issue-view-mode-grid {
      $zen-column-count:  4;
      @include zen-float();
      @include zen-grid-flow-item(1,4, false, true);
      &:nth-child(4n+4) {
        @include zen-grid-flow-item(1, 4, false, false);
      }
      &:nth-child(4n+1) {
        @include zen-clear();
      }
    }
  }
  .view-issue-archive .view-content {
    $zen-column-count:  4;
    @include zen-grid-container();
    .archive-issue {
      $zen-column-count:  4;
      @include zen-float();
      @include zen-grid-flow-item(1,4, false, true);
      &:nth-child(4n+4) {
        @include zen-grid-flow-item(1, 4, false, false);
      }
      &:nth-child(4n+1) {
        @include zen-clear();
      }
    }
  }
}
.article-grid-more-link,
.issue-archive-link {
  text-align: center;
  a {
    border:1px solid #007BC8;
    padding:5px;
    display: inline-block;
  }
  //margin: 0;
}

.issue-notes-content {
  .region-content-sidebar-right,
  .region-content-sidebar-left {
    margin: 0;
    padding: 0;
    float: none;
    clear: both;
    width: auto;
  }
}
.story-issue {
  img {
    float: left;
    margin:0 10px 10px 0;
  }
  .story-issue-link {
    overflow: hidden;
  }
}


.related-articles .related-article {
  margin-bottom:20px;
  h3 {
    font-size: 100%;
    margin-bottom: 5px;
  }
}

// Issue teaser more links
.issue-summary .more-link {
  white-space: nowrap;
}
.issue-summary .more-link:before {
  content: " ";
}
