#block-menu-block-site-navigation-menus-4 {
  display: none;
  .block-title {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  #block-menu-block-site-navigation-menus-4 {
    display: none;
  }
}
button.section-navigation-toggle {
  background: none;
  border:1px solid rgba(#757575, .25);
  padding:8px;
  font-size: 85%;
}
#section-navigation {
  margin-top: 10px;
}
