.collection-view-mode-grid {
  h4 {
    font-size: 100%;
  }
  margin-bottom:20px;
}

ul.collection-items-navigation,
ul.collection-items-navigation li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
ul.collection-items-navigation {
  margin-bottom: 10px;
}
ul.collection-items-navigation li {
  display: inline;
}
ul.collection-items-navigation a {
  display: inline-block;
  padding:2px 5px;
  border:1px solid #d7d7d7;
  font-size:75%;
  color: #656565;
  margin: 0 5px 5px 0;
  font-weight: 600;
  text-transform: uppercase;
  &.active {
    background-color: #d7d7d7;
    color:#000;
  }
}

select.collection-filter {
  margin-bottom: 10px;
}
.bean-collection-grid {
  label {
    display: inline;
    font-size: 85%;
    font-weight: 600;
  }
}

.collection-items {
  @media (min-width: 1200px) {
    .col-lg-4:nth-child(3n+1) {
      clear:left;
    }
  }
  @media (min-width: 960px) and (max-width: 1199px){

    .col-md-4:nth-child(3n+1) {
      clear:left;
    }
  }
  @media (min-width: 768px) and (max-width: 959px){
    .col-sm-6:nth-child(2n+1) {
      clear:left;
    }
  }
}
