/* Use this class to make sure that images won't get iconized */



/* Icons for file extensions */

a[href$='.doc'], a[href$='.docx'], a[href$='.rtf'],
a.file-doc, a.file-docx, a.file-rtf {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon_doc.gif) no-repeat center right;
}



/* TEXT */


a[href$='.txt'],
a.file-txt {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon_txt.gif) no-repeat center right;
}


/* EXCEL */

a[href$='.xls'],
a.file-xls {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon_xls.gif) no-repeat center right;
}




/* POWERPOINT */

a[href$='.pps'],
a.file-pps { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon_pps.gif) no-repeat center right;
}



a[href$='.ppt'], a[href$='.pptx'] ,
a.file-ppt,
a.file-pptx { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon_pps.gif) no-repeat center right;
}



/* PDF */

a[href$='.pdf'],
a.file-pdf { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/icon_pdf.gif) no-repeat center right;
}


/* email */
/* a[href ^="mailto:"], */
a.mailto {
	padding: 5px 20px 5px 0;
    background: transparent url(../images/icon_mailto.gif) no-repeat center right;
}



