@import "../../cu_omega/scss/modules/_global.scss";
@import "../../cu_omega/scss/modules/_colors.scss";


body {
  background-color: $bg_dark1;

  padding-bottom: 20px;
}
.layout-boxed {
  background-color: #333;
    #page {
    width:960px;
    margin: 20px auto;
    //@include rgbshadow(0,0,3px,#ddd);
    @include rgbashadow(0,0,10px,#000, .25);
    @include rounded($radius: 5px);
    overflow: hidden;
  }
}
.is-responsive.layout-boxed {
  #page {
    width:auto;
    max-width: 960px;
    margin:0 auto 20px;
  }
}

.layout-wide #backstretch {
  display: none;
}
.banner-black  {
  #zone-branding-wrapper {
    background-color: #000;
  }
  #zone-secondary-menu-wrapper {
    background-color: #000;
    color: lighten($gray, 15%);
    .secondary-navigation {
      background-color: #333;
    }
    a {
      display: inline-block;
    }
    a:link,
    a:visited {
      color: #fff;
    }
    a:hover,
    a:focus,
    a.active,
    a.active-trail {
      color:#fff;
      background-color: #444;
    }
  }
}


#zone-menu-wrapper {
  background-color: $bg_dark1;
}
#zone-menu {
  #region-menu {
    width:auto;
    margin: 0 10px;
    float: none;
    display: block;

  }
  a {
    color:#ccc;
    font-size: 90%;
    font-weight: 600;
    line-height: 60px;
    &:hover {
      background-color: #444;
      color:#fff;
    }
  }
  a.active,
  a.active-trail {
    background-color: #333;
    color:#fff;
    &:hover {
      color:#fff;
    }
  }
  a#home-link {
    color:#ccc;
    background-color: transparent;
  }
}
ul#action-menu a {
  line-height: 20px;
  margin:20px 0 20px 10px;
}
#section-content {
  background-color: #fff;
}
#zone-intro,
#zone-slider-wrapper {
  background-color: #232323;
}
.page-title-wrapper {
  //padding-top:20px;
  //padding-bottom: 20px;
  background-color: $bg_dark2;
  color:#fff;
  border-top:1px solid #111;
  a:link,
  a:visited {
    color:#fff;
  }
  h1 {
    //font-size: 50px;
    margin: 0;
    padding: 0;
    //color: $text_white;
  }
}
.title-wrapper.container-content {
  padding: 20px 0;
}
#page_title {
  padding: 20px;
}
#page-title-image-wrapper {
  //margin-bottom: 0px;
}
.page-title-image-wrapper.container-content {
  margin-bottom: -20px;
}
.page-title-image-background-white #page-title-image h1 {
  background-color: #fff;
}

#zone-after-content-2-wrapper {
  background-color: #fafafa;
  border-top:1px solid #f7f7f7;
  padding-top:20px;
}
#section-footer {
  background-color: $bg_dark2;
  color:#fff;
}
#section-footer a,
#section-footer a.active,
#section-footer a.active-trail {
  color:$cugold;

  &:hover {
    color:#fff;
  }
}
#zone-footer-wrapper {
  padding-top: 20px;
}
#zone-site-information-wrapper {
  background-color: $bg_dark1;
}

#footer-links-wrapper {
  padding: 15px 0;
}

// Subnav
$defaultFG: #656565;
$hoverFG: #202020;
$activeBG: #333;
$activeFG: #fff;
$border: #e7e7e7;

#block-menu-block-site-navigation-menus-1,
#block-menu-block-site-navigation-menus-2,
#block-menu-block-site-navigation-menus-3,
#section-navigation {

  $indent: 10px;

  .menu-block-wrapper {
    font-weight: 500;
    border-bottom: 1px solid $border;
  }
  ul.menu a {
    padding:10px;
    border:1px solid $border;
    margin-bottom: -1px;
    color:$defaultFG;
    line-height: 120%;
    &:hover,
    &:focus {
      background-color: $border;
      color:$hoverFG;
    }
    &.active-trail {
      border-bottom: none;
    }
    &.active {
      color:$activeFG;
      background-color: $activeBG;
      font-weight: 500 !important;
    }
  }
  li.active-trail {
    border-left:3px solid $activeBG;

    a {
      border-left-color: $activeBG;
    }
  }
  li.active-trail > a {

  }
  li.active-trail li {
    border:none;
  }
  ul.menu ul.menu a {
    padding-left: $indent * 2;
    font-size: 90%;
    padding-top:7px;
    padding-bottom: 7px;
    border-top: none;
    border-bottom: none;
    font-weight: normal;
  }
  ul.menu ul.menu ul.menu a {
    padding-left: $indent * 3;
  }
  ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 4;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 5;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 6;
  }
}

#block-menu-block-site-navigation-menus-3 h2.block-title {
  font-size: 100%;
  line-height: 120%;
  padding: 0;
  margin: 0;

  a {
    display: block;
    padding:10px;
    background-color: $activeBG;
    color:$activeFG;
    font-weight: 600;
  }
}
.hero-unit,
.block-section,
.page-title-image-wrapper {
  -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 0 50px rgba(0,0,0,0.25);
  box-shadow: inset 0 0 50px rgba(0,0,0,0.25);
}
.block-section {
  .block-section,
  .hero-unit {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow: none;
  }
}
