/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
.container-12 .block-inner {
  .grid-1 {
    width: 40px;
  }
  
  .grid-2 {
    width: 20px;
  }
  
  .grid-3 {
    width: 200px;
  }
  
  .grid-4 {
    width: 280px;
  }
  
  .grid-5 {
    width: 360px;
  }
  
  .grid-6 {
    width: 440px;
  }
  
  .grid-7 {
    width: 520px;
  }
  
  .grid-8 {
    width: 600px;
  }
  
  .grid-9 {
    width: 680px;
  }
  
  .grid-10 {
    width: 760px;
  }
  
  .grid-11 {
    width: 840px;
  }
  
  .grid-12 {
    width: 920px;
  }
}