.atlas-package-list {
  clear: both;
}
.atlas-add-bundle {
  float: left;
  width: 24%;
}
.bundle-enable, .atlas-enable-bundle {
  border-width: 0 0 0 0.5px;
  border-style: solid;
  border-color: #ddd;
}
.atlas-enable-bundle a.btn {
  margin-top: 5%;
}
.alakazaam {
  border: 1px solid red;
}
