/**
 * Someone please redo this thing completely.
 *
 * (start from scratch)
 */

/* Fix drop-down cropping in IE 7 & 8 */
#toolbar {
  filter: none !important;
}
#toolbar > div.toolbar-menu {
  background-color: #333;
}
#toolbar > div.toolbar-menu {

}
#toolbar > div.toolbar-menu > div.toolbar-menu-wrapper > ul.group {
  float: left; /* LTR */
}
#toolbar > div.toolbar-menu > div.toolbar-menu-wrapper > ul.group > li {
  margin-bottom: -1px;
}
#toolbar div.toolbar-menu-wrapper {
  position: relative;
}
#toolbar div.toolbar-menu-wrapper div.toolbar-menu-wrapper {
  position: absolute;
  top: -1000px;
  left: -10px; /* LTR */
  background: #333;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: 0 3px 10px #000;
  -webkit-box-shadow: 0 3px 10px #000;
  box-shadow: 0 3px 10px #000;
  padding: 1em;
  opacity: 0;
  z-index: -1;
}

#toolbar div.toolbar-menu-wrapper div.toolbar-menu-wrapper div.toolbar-menu-wrapper {
  position: static;
  background: transparent;
  border-radius: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: 0; /* LTR */
  padding: 0;
  padding-left: 1em; /* LTR */
  width: normal;
  display: block;
  opacity: 1;
}

#toolbar div.toolbar-menu ul li:hover a {
  background: #444;
}
#toolbar div.toolbar-menu ul li:hover div a {
  background: transparent;
}

#toolbar div.toolbar-menu-wrapper > ul.menu > li > div.toolbar-menu-wrapper {
  -webkit-transition: .5s all;
  -webkit-transition-delay: .25s;
  -moz-transition: .5s all;
  -moz-transition-delay: .25s;
  -ms-transition: .5s all;
  -ms-transition-delay: .25s;
  -o-transition: .5s all;
  -o-transition-delay: .25s;
  transition: .5s all;
  transition-delay: .25s;
}



#toolbar div.toolbar-menu-wrapper > ul.menu > li.open > div.toolbar-menu-wrapper,
#toolbar div.toolbar-menu-wrapper > ul.menu:hover > li > div.toolbar-menu-wrapper {
  display: block;
  opacity: 1;
  top: 30px;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  -moz-transition: 0.5s;
}

#toolbar div.toolbar-menu div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul.menu li a {
  color: #eee;
  font-weight: bold;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
#toolbar div.toolbar-menu-wrapper div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul.menu li a {
  font-weight: normal;
  color: #ccc;
  background: transparent;
}

#toolbar div.toolbar-menu div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul li a:focus,
#toolbar div.toolbar-menu div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul li a:hover,
#toolbar div.toolbar-menu div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul li a:active,
#toolbar div.toolbar-menu div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul li a.active:focus {
  background: transparent;
  color: #fff;
}

#toolbar div.toolbar-menu div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul li a.active:hover,
#toolbar div.toolbar-menu div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul li a.active:active,
#toolbar div.toolbar-menu div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul li a.active,
#toolbar div.toolbar-menu div.toolbar-menu-wrapper div.toolbar-menu-wrapper ul li.active-trail a {
  background: transparent;
  text-shadow: none;
  color: #fff;
}



#toolbar ul.menu ul.menu li a {
  float: none;
  display: block;
}

#toolbar ul.menu ul.menu li {
  float: none;
}

#toolbar div.toolbar-menu-wrapper div.toolbar-menu-wrapper .group {
  width: 10em;
  float: left; /* LTR */
}
