#toolbar-user {
  left: 0;
  right: auto;
}

#toolbar .wrapper-depth-2 {
  left: auto;
  right: 30px;
}

#toolbar ul.menu-depth-2 {
  float: right;
}

#toolbar .wrapper-depth-3 {
  text-align: right;
  left: auto;
  right: 0;
}

#toolbar ul.menu-depth-3 {
  float: right;
  clear: right;
}

#toolbar .wrapper-depth-3 a,
#toolbar .wrapper-depth-4 a {
  clear: right;
}

#toolbar .wrapper-depth-4 {
  padding-left: 0;
  padding-right: 10px;
}
