h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
}
h1,h2,h3,h4 {
    color:$gray-dark;
    font-weight:bold;
}
h3.media-heading {
    margin:.5em 0;
}

a {
    color:$brand-primary;
    &:hover {
        color:$brand-secondary;
    }
}
p,
p:last-child {
    margin: 0 0 1.25em 0;
}

.breadcrumb {
    background: none;
    border: none;
    font-size: 20px;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    position: relative;
    li {
        float:none;
        a {
            span {
                display:none;
            }
        }
        &.home-link a {
            font-size:1.3em;
        }
    }
}

.alert {
    position: relative;
    .close {
        line-height: 18px;
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

table,
table.table {
    border-collapse:collapse;
    margin:1em 0;
    width:100%;
    thead > tr > th {
        background-color: hero;
        @include background-image(linear-gradient(#F5F5F5, #F0F0F0));
        border:1px solid $border !important;
        padding:4px 8px;
        font-weight: bold;
    }
    thead th:first-child {
        @inlclude border-top-left-radius(4px);
    }
    thead th:last-child,
    thead th:last-child {
        @include border-top-right-radius(4px);
    }
    tbody th,
    td {
        border:1px solid $border;
        padding:4px 8px;
        vertical-align:top;
    }
    tr:hover {
        background:#FFFEEE;
    }
}

dl {
  margin:0;
  padding:0;
  clear:both;
  overflow:hidden;
}
dt {
  margin:0;
  padding:8px 5px;
  float:left;
  width:28%;
}
dd {
  margin:0;
  padding:8px 5px;
  float:right;
  width:72%;
}
dt:nth-of-type(2n),
dd:nth-of-type(2n) {
  background:$shade;
}