.front #nav-wrapper {
	//border-bottom:1px solid lighten($brand-primary, 20%);
}
#nav-wrapper {
	border-bottom:1px solid $smoke;
	position: relative;
	z-index:1;
	.navbar.container {
		margin:0 auto;
		padding:0;
	}
	.navbar-header {
		position:relative;
		z-index:3;
	}
	.navbar-default {
		background:transparent;
		border:none;
		nav {
			margin-top: 14px;
			float:right;
		}
		.navbar-brand {
			color:$brand-primary;
			font-size:26px;
			margin:0;
			padding:18px 15px 0 0;
		}
		.logo {
			padding:10px 10px 0 0;
			img {
				height:60px;
			}
		}
		.lead {
			font-size:21px;
			margin:0;
			position:absolute;
			top:42px;
			left:50px;
			whitespace:no-wrap;
		}
		.navbar-nav {
			margin:0 14px;
			li > a {
			    color: $brand-primary;
			    font-size:12px;
			    padding:15px 6px;
			    &:hover,
			    &:focus {
			    	text-decoration:underline;
			    }
			}
			.active a {
				background:transparent;
			}
		}
		.navbar-nav.secondary li {
			float:none;
			a {
				font-size:.7em;
				line-height:1.5em;
				padding:4px;
			}
		}
	}
}

.tabs--primary {
	margin: 10px 0;
	li {
		margin:1px;
	}
	li a {
		border:1px solid $smoke;
		padding:5px 15px;
		&:hover {
			border:1px solid $brand-secondary;
			background:lighten($brand-secondary,10%);
			color:$brand-primary;
		}
		&.active {
			border:1px solid $brand-primary;
			background:lighten($brand-primary,10%);
			color:$white;
		}
	}
}

.nav-tabs {
	li a {
		color:$brand-primary;
		&:hover {
			color:darken($brand-primary,10%);
		}
	}
}

// .btn-primary,
// a.btn-primary {
//   color: white;
//   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
//   background-color: $brand-primary;
//   @include background-image(linear-gradient(lighten($brand-primary,15%),$brand-primary));
//   border:1px solid darken($brand-primary,10%);
//   border-color: $brand-primary darken($brand-primary,10%) darken($brand-primary,10%) $brand-primary;
//   &:hover {
//   	background:$brand-secondary;
//   	@include background-image(linear-gradient(darken($brand-secondary,15%),$brand-secondary));
//   	border:1px solid darken($brand-secondary,10%);
//   	border-color: $brand-secondary darken($brand-secondary,10%) darken($brand-secondary,10%) $brand-secondary;
//   }
// }

.data-explorer .btn {
	border:1px solid $smoke;
}
.btn:active, 
.btn.active {
	@include box-shadow(none);
}