.container > .navbar-header, .container > .navbar-collapse {
    margin-left: 10px;
    margin-right: 10px;
}
#nav-wrapper {
	border-bottom:1px solid $smoke;
	position: relative;
	z-index:1;
	.navbar.container {
		margin:0 auto;
		padding:0;
	}
	.navbar-header {
		position:relative;
		z-index:3;
	}
	.navbar-default {
		background:transparent;
		border:none;
		nav {
			margin-top: 14px;
			float: none;
			display: block;
			text-align: center;
			@media(min-width:768px) {
				float:right;
			}
		}
		.navbar-brand {
			color:$brand-primary;
			font-size:26px;
			margin:0;
			padding:18px 15px 0 0;
		}
		.logo {
			padding:10px 10px 0 0;
		}
		.lead {
			font-size:21px;
			margin:0;
			position:absolute;
			top:42px;
			left:50px;
			whitespace:no-wrap;
		}
		.navbar-nav {
			margin:0 14px;
			li > a {
			    color: $brand-primary;
			    font-size:12px;
			    padding:15px 6px;
			    &:hover,
			    &:focus {
			    	text-decoration:underline;
			    }
			}
			.active a {
				background:transparent;
			}
		}
		.navbar-nav.secondary li {
			float:none;
			a {
				font-size:.7em;
				line-height:1.5em;
				padding:4px;
			}
		}
	}
}
//override bootstrap
.navbar .nav > li > a {
	text-shadow:none;
}

.tabs--primary {
	margin: 10px 0;
	li {
		margin:1px;
	}
	li a {
    background: $white;
		border:1px solid $smoke;
		padding:5px 15px;
		&:hover {
			border:1px solid $brand-secondary;
			background:$brand-secondary;
			color:$white;
		}
		&.active {
			border:1px solid $brand-primary;
			background:$brand-primary;
			color:$white;
		}
	}
}

.nav-tabs {
	li a {
		color:$brand-primary;
		&:hover {
			color:darken($brand-primary,10%);
		}
	}
}

.nav-pills li a.active,
.nav-pills li.active a:hover,
.nav-pills li.active a:focus,
.tabs--primary li a.active {
  border:1px solid $brand-primary;
  background: $brand-primary;
  color:#ffffff;
}
.btn-primary {
  background:$brand-primary;
  border-color:$brand-primary;
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active {
	background:$brand-secondary;
	border-color:$brand-secondary;
}
#edit-submit:hover,
#edit-submit:focus,
#edit-submit:active {
	background: darken($brand-primary,20%);
	border-color: darken($brand-primary,20%);
	color: #fff;
}

a.embed-link {
	@include border-radius(4px);
  background:$brand-primary;
  color: #fff;
  display: inline-block;
  padding:5px 15px 5px 30px;
  position:relative;
  margin:1em 0;
  text-decoration: none;
}
a.embed-link:hover, 
a.embed-link:focus, 
a.embed-link:active {
	background:$brand-secondary;
	color:#fff;
	text-decoration:none;
}
a.embed-link:before {
  content:'\f121';
  color: #fff;
  font-family: $icon-fa;
  font-size: 1.3em;
  position: absolute;
  top:5px;
  left:10px;
}
textarea.embed-code {
	width: 100%;
	margin-bottom:1em;
}

ul.action-links {
	margin:1em 0;
}
.data-explorer .btn {
	border:1px solid $smoke;
}
.btn:active, 
.btn.active {
	@include box-shadow(none);
}