.field-name-field-tags .field-item {
	display:inline-block;
}
.field-type-taxonomy-term-reference {
  label {
    display: block;
  }
  input.form-control {
    height: auto;
  }
  .field-item {
  	a {
      padding:2px 10px 3px;
      font-size:12px;
      @include border-radius(0 5px 5px 0);
      @include background-image(linear-gradient($shade, $gray-lighter));
      //float:left;
      margin:5px 5px 5px 20px;
      position:relative;
      color:$gray-dark;
      border:1px solid $gray-light;
      border-left:0;
      z-index:2;
      &:after {
        content:"";
        width:18px;
        height:18px;
        @include background-image(linear-gradient(left top, $shade 0%, $gray-lighter 100%));
        @include rotate(45deg);
        @include border-radius(2px);
        display:block;
        position:absolute;
        top:2px;
        left:-9px;
        z-index:-1;
        border:1px solid $gray-light;
        border-top:none;
        border-right:none;
      }
      &:before {
  			content:"";
  			width:2px;
  			height:2px;
  			background:$gray-light;
  			position:absolute;
  			top:11px;
  			left:-5px;
  			@include border-radius(0);
      }
  	}
  	a:hover:after,
  	a:hover {
      	background: #fff;
      	color:#000;
      	text-decoration:none;
  	}
  }
}

/** UI Tabs **/
.node-resource-form .horizontal-tabs {
  border:none;
  ul.horizontal-tabs-list {
    background-color: transparent;
    border: 0;
    padding-top: 10px;
    li,
    li.selected {
      border: 0;
      background-color: transparent;
      min-width: 10em;
      a:hover {
          background:transparent;
        }
      #active-horizontal-tab {
        background: url(../images/sprite-ckan-icons.png) no-repeat -193px 1px;
        display: block;
        text-indent: -9999px;
        width: 16px;
        height: 16px;
        margin: 0 0 0 28px;
        clip: auto;

      }
      &.horizontal-tab-button-1 .summary,
      &.horizontal-tab-button-2 .summary {
        background: url(../images/sprite-ckan-icons.png) no-repeat -160px 0;
      }
      .summary{
        background: url(../images/sprite-ckan-icons.png) no-repeat -144px 0;
        width: 16px;
        height: 16px;
        position: absolute;
        top:5px;
        left:10px;
      }
      a {
        font-size: 1.35em;
        position: relative;
        padding: 5px 35px 5px 30px;
      }
    }
  }
  .horizontal-tabs-panes {
    @include border-radius(4px);
    border:1px solid $border;
    padding: 8px;
    fieldset.htab_link_upload,
    fieldset.htab_link_api,
    fieldset.htab_link_file {
      legend.panel-heading {
        display: none;
      }
      .field-widget-recline-widget legend.panel-heading {
        border:none;
        border-bottom: 1px solid $border;
        display: block;
        background:transparent;
        color: $gray;
        padding: 15px 0 5px;
        margin-top:10px;
      }
    }
    .form-type-checkbox label,
    .form-type-select label {
      display: block;
      padding-top:2px;
    }
    .form-item-field-upload-und-0-embed {
      clear: both;
    }
  }
}
.page-node-add-resource {
  .field-group-htabs.group-data div.horizontal-tabs {
    border: 0;
  }
  .form-item {
    margin: 0;
  }
}
.data-and-resources .form-group ul.resource-list {
  li {
    margin:4px 4px 4px 0;
    float: left;
  }
}
.form-group ul.resource-list {
  li {
    margin:4px 0;
  }
  a.label {
    margin-left:3px;
  }
}
#data-and-resources ul.resource-list {
  li {
    padding:0 0 0 40px;
  }
  a.btn {
    display: block;
    margin:0 0 25px 15px;
    position:relative;
    top:auto;
    right:auto;
  }
}
.node-dataset label {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    margin:10px 0;
}

.data-and-resources .label {
  display: inline;
  padding: 1px 4px 2px;
  @include border-radius(3px);
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.field-name-body {
    ul {
        list-style-type:disc;
        margin:10px 20px;
        li {
            margin:6px 10px;
        }
    }
}
.field-group-table-description {
  color:$gray;
  display:block;
  padding:8px 10px 8px 40px;
  position:relative;
  .icon-info-sign:before {
    color:$gray-light;
    content:"\f05a"; 
    font-family:$icon-fa;
    font-size:2.5em;
    height:30px;
    left:0;
    margin:10px 15px 0 0;
    padding:6px 0;
    position:absolute;
    top:0;
    width:30px;
  }
}

.region-content .block {
  @include popblock;
}
.page-admin .region-content .block {
  @include box-shadow(none);
  border:none;
  margin:0;
  padding:0;
}

.node-type-group .region-content .block { 
  @include box-shadow(none);
  border:none;
  padding:0;
}

// .horizontal-tabs ul.horizontal-tabs-list li a, 
// .horizontal-tabs ul.horizontal-tabs-list li.selected a {
//   display: block;
//   font-size: 1.35em;
//   padding: 0.5em 0.6em;
// }
