//
// Styles for individual pages
// --------------------------------------------------
.page-groups {
	article.node-teaser {
		height: 365px;
		margin-bottom: 20px;
		.field-name-field-image img {
			border:1px solid $shade;
		}
		h2.node-title {
			font-size: 1.25em;
			margin: .75em 0;
		}
		.view-og-count {
			margin:8px 0;
		}
	}
}