.services-not-found {
  font-weight: bold;
  text-align: center;
  display: block; }

.provider-wrapper {
  border-bottom: #cccccc solid 1px;
  font-size: 13px;
  line-height: 17px;
  padding-top: 10px;
  padding-bottom: 10px; }
  .provider-wrapper div.first {
    float: left;
    padding-right: 15px; }
  .provider-wrapper div.second .service-title {
    padding-bottom: 5px; }

.all-services-link {
  text-align: right;
  padding-bottom: 10px;
  padding-right: 15px; }

.services-page .top-wrapper {
  padding-bottom: 15px; }
  .services-page .top-wrapper .first {
    float: left;
    margin-top: 3px;
    color: #414141;
    font-size: 13px;
    font-weight: bold; }
  .services-page .top-wrapper .last {
    float: right; }
  .services-page .top-wrapper .last .form-item {
    margin: 0; }
    .services-page .top-wrapper .last .form-item input {
      color: #a8a8a8;
      font-size: 12px; }

.services-wrapper {
  border: solid 1px #cccccc; }
  .services-wrapper .title {
    text-transform: uppercase;
    background: #CCC; }
  .services-wrapper .services .provider-row-wrappepr {
    padding-top: 15px;
    position: relative; }
    .services-wrapper .services .provider-row-wrappepr.odd {
      background: white; }
    .services-wrapper .services .provider-row-wrappepr.even {
      background: #f4f3ee; }
    .services-wrapper .services .provider-row-wrappepr .anchor {
      display: block;
      position: absolute;
      top: -60px; }
    .services-wrapper .services .provider-row-wrappepr div.first,
    .services-wrapper .services .provider-row-wrappepr div.second {
      float: left;
      margin-left: 33px; }
    .services-wrapper .services .provider-row-wrappepr div.first {
      width: 10%;
      line-height: 15px; }
      .services-wrapper .services .provider-row-wrappepr div.first .service-logo img {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px; }
      .services-wrapper .services .provider-row-wrappepr div.first .status {
        background: none;
        font-size: 13px;
        margin-top: 10px;
        font-weight: bold; }
        .services-wrapper .services .provider-row-wrappepr div.first .status .not-exists {
          color: #9d4e53; }
        .services-wrapper .services .provider-row-wrappepr div.first .status .not-installed {
          color: #dc2431; }
        .services-wrapper .services .provider-row-wrappepr div.first .status .requires-config {
          color: #d67f32; }
        .services-wrapper .services .provider-row-wrappepr div.first .status .installed-defined {
          color: #44800a; }
      .services-wrapper .services .provider-row-wrappepr div.first .requirements {
        margin-top: 10px;
        color: #9f9f9f;
        font-size: 12px; }
    .services-wrapper .services .provider-row-wrappepr div.second {
      display: block;
      width: 82%; }
      .services-wrapper .services .provider-row-wrappepr div.second .top-wrapper .service-title {
        float: left;
        color: #2588c6;
        font-weight: bold;
        font-size: 15px; }
      .services-wrapper .services .provider-row-wrappepr div.second .top-wrapper .service-type {
        float: right;
        font-weight: bold;
        font-size: 15px; }
      .services-wrapper .services .provider-row-wrappepr div.second .body-wrapper {
        color: #414141;
        font-size: 14px; }
