.services-not-found {
  font-weight: bold;
  text-align: center;
  display: block;
}

.provider-wrapper {
  border-bottom: #CCC solid 1px;
  font-size: 13px;
  line-height: 17px;
  padding-top: 10px;
  padding-bottom: 10px;

  div.first {
    float: left; // LTR
    padding-right: 15px;
  }


  div.second {

    .service-title {
      padding-bottom: 5px;
    }
  }
}

.all-services-link {
  text-align: right; // LTR
  padding-bottom: 10px;
  padding-right: 15px;
}

.services-page {

  .top-wrapper {
    padding-bottom: 15px;

    .first {
      float: left; // LTR
      margin-top: 3px;
      color: #414141;
      font-size: 13px;
      font-weight: bold;
    }

    .last  {
      float: right; // LTR
    }

    .last {

      .form-item {
        margin: 0;

        input {
          color: #a8a8a8;
          font-size: 12px;
        }
      }
    }
  }
}

.services-wrapper {
  border: solid 1px #CCC;

  .title {
    text-transform: uppercase;
    background: #CCC;
  }

  .services {

    .provider-row-wrappepr {
      padding-top: 15px;
      position: relative;

      &.odd {
        background: white;
      }

      &.even {
        background: #f4f3ee;
      }

      // Commerce Kickstart menu toolbar is positioned just above the text
      // with a normal anchor. Positioning the anchor 60px above the title of
      // the service will throw us to the extact location of the service title.
      .anchor {
        display: block;
        position: absolute;
        top: -60px;
      }

      div.first,
      div.second {
        float: left; // LTR
        margin-left: 33px;
      }

      div.first {
        width: 10%;
        line-height: 15px;

        .service-logo img {
          border-bottom: 1px solid #CCC;
          padding-bottom: 10px;
        }

        .status {
          background: none;
          font-size: 13px;
          margin-top: 10px;
          font-weight: bold;

          .not-exists {
            color: #9d4e53;
          }

          .not-installed {
            color: #dc2431;
          }

          .requires-config {
            color: #d67f32;
          }

          .installed-defined {
            color: #44800a;
          }
        }

        .requirements {
          margin-top: 10px;
          color: #9f9f9f;
          font-size: 12px;
        }
      }

      div.second {
        display: block;
        width: 82%;

        .top-wrapper {

          .service-title {
            float: left; // LTR
            color: #2588c6;
            font-weight: bold;
            font-size: 15px;
          }

          .service-type {
            float: right; // LTR
            font-weight: bold;
            font-size: 15px;
          }
        }

        .body-wrapper {
          color: #414141;
          font-size: 14px;
        }
      }
    }
  }
}
