.provider-wrapper {

  div.first {
    float: right;
    padding-left: 15px;
    padding-right: 0;
  }
}

.all-services-link {
  text-align: left;
  padding-left: 15px;
  padding-right: 0;
}

.services-page {

  .top-wrapper {

    .first {
      float: right;
    }

    .last  {
      float: left;
    }
  }
}

.services-wrapper {

  .services {

    .provider-row-wrappepr {

      div.first,
      div.second {
        float: right;
        margin-left: 0;
        margin-right: 30px;
      }

      div.second {

        .top-wrapper {

          .service-title {
            float: right;
          }

          .service-type {
            float: left;
          }
        }
      }
    }
  }
}

