@import "../../expressbase/scss/modules/_colors.scss";
@import "../../expressbase/scss/modules/_global.scss";

body {
  background-color: $bg_dark2;
}
.layout-wide #backstretch {
  display: none;
}
.layout-boxed.layout-fixed #page {
  width: 1200px;
  margin: 0 auto;
}
.layout-boxed.layout-responsive #page {
  max-width: 1200px;
  margin: 0 auto;
}
.layout-boxed #page {
  @include rgbashadow(0,0,10px,#000, .25);
}
.navigation-wrapper {
  border-bottom: 5px solid $cugold;
}
.banner-white #header-wrapper {
  background-color: #fff;
}
.banner-black #header-wrapper {
  background-color: #000;
}

// Secondary Menu
h2.secondary-menu-label {
  margin-left:8px;
}
.banner-white #secondary-menu-wrapper {
  background-color: #fff;
}
.banner-black #secondary-menu-wrapper {
  background-color: #000;
}
#secondary-menu-wrapper {
  color:#fff;
}
#secondary-menu-wrapper a {
  color:#fff;
  display: inline-block;
}
#secondary-menu-wrapper a:hover,
#secondary-menu-wrapper a:focus {
  color:#fff;
  background-color: #666;
}
#secondary-menu-wrapper a.active,
#secondary-menu-wrapper a.active-trail {
  color:#000;
  background-color: $cugold;
}
#secondary-menu {
  background-color: #444;
}

// Main Menu
#main-menu-wrapper {
  background-color: $bg_dark1;
}
#main-menu-wrapper ul#main-menu a {
  font-weight: 600;
  color: #fff;
  //transition: background-color 0.5s ease;
}
#main-menu-wrapper ul#main-menu a:hover {
  background-color:#444;
}
#main-menu-wrapper ul#main-menu a.active,
#main-menu-wrapper ul#main-menu a.active-trail {
  background-color: $cugold;
  color:#000;
}
#main-menu-wrapper ul#main-menu a#home-link {
  background-color: transparent;
  color:#fff;
}
ul.action-menu a {
  color:#fff;
}
ul.action-menu a:hover,
ul.action-menu a.active,
ul.action-menu a.active-trail {
  color: $cugold;
}

// Backgrounds
.top-content {
  background: #fff;
}
.intro-wide-wrapper,
.slider-wrapper {
  background-color: $light_gray;
}
.slider-wrapper {
  padding: 20px;
}
#main-content-wrapper {
  padding: 0;
}
.content-wrapper,
.after-content-wrapper {
  background-color: #fff;
}
.after-content-wrapper {
  padding-top: 40px;
  padding-bottom: 20px;
}
// Footer
.after-content2-wrapper {
  background-color: $light_gray;
  padding-top: 40px;
  padding-bottom: 20px;
}
.footer-section {
  background-color: $bg_dark2;
  border-top: 5px solid $cugold;

  color: #fff;
}
.footer-section a,
.footer-section a.active,
.footer-section a.active-trail {
  color:$cugold;
}
.footer-section a:hover {
  color:#fff;
}
.footer-wrapper {
  background-color: $bg_dark1;
  padding-top: 20px;
}

// Mobile Menu
#mobile-navigation-wrapper{
  background-color: #222;
  color:#fff;
  ul#main-menu-mobile,
  ul#footer-menu-mobile {
    background-color: #333;
    a {
      color:#fff;
      border-bottom: 1px solid #444;
    }
    a.active,
    a.active-trail {
      color:#000;
      background-color: $cugold;
      font-weight: 600;
    }
  }
  ul#secondary-menu-mobile {
    background-color: #444;
    a {
      color:#fff;
      border-bottom: 1px solid #555;
    }
    a.active,
    a.active-trail {
      color:#000;
      background-color: $cugold;
      font-weight: 600;
    }
  }
  ul#secondary-menu-mobile,
  ul#footer-menu-mobile {
    border-top:3px solid #ddd;
  }
}

// Subnav
$defaultFG: #656565;
$hoverFG: #202020;
$activeBG: $cugold;
$activeFG: #000;
$border: #e7e7e7;

#block-menu-block-site-navigation-menus-1,
#block-menu-block-site-navigation-menus-2,
#block-menu-block-site-navigation-menus-3,
#section-navigation {

  $indent: 10px;

  .menu-block-wrapper {
    font-weight: 500;
    border-bottom: 1px solid $border;
  }
  ul.menu a {
    padding:10px;
    border-top:1px solid $border;
    border-bottom:1px solid $border;
    margin-bottom: -1px;
    color:$defaultFG;
    line-height: 120%;
    &:hover,
    &:focus {
      background-color: $border;
      color:$hoverFG;
    }
    &.active-trail {
      border-bottom: none;
    }
    &.active {
      color:$activeFG;
      background-color: $activeBG;
      font-weight: 500 !important;
    }
  }
  li.active-trail {
    //border-left:3px solid $activeBG;

    a {
      border-left-color: $activeBG;
    }
  }
  li.active-trail > a {

  }
  li.active-trail li {
    border:none;
  }
  ul.menu ul.menu a {
    padding-left: $indent * 2;
    font-size: 90%;
    padding-top:7px;
    padding-bottom: 7px;
    border-top: none;
    border-bottom: none;
    font-weight: normal;
  }
  ul.menu ul.menu ul.menu a {
    padding-left: $indent * 3;
  }
  ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 4;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 5;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 6;
  }
  li.expanded  {
    border-left:1px solid $activeBG;
  }
}

#block-menu-block-site-navigation-menus-3 h2.block-title {
  font-size: 100%;
  line-height: 120%;
  padding: 0;
  margin: 0;

  a {
    display: block;
    padding:10px;
    background-color: $activeBG;
    color:$activeFG;
    font-weight: 600;
  }
}
