/* Related Articles */

.related-articles .more-link {
  display: none;
}
.related-articles .related-article h3 {
  font-size: 100%;
  margin-bottom: 5px;
}
.related-articles .date {
  font-size: 75%;
  margin-bottom: 10px;
}
.related-articles-hide-date .date {
  display: none;
}
