@import "../../cu_omega/scss/modules/_global.scss";
@import "../../cu_omega/scss/modules/_colors.scss";

body {
  background:#000;
}
#backstretch {
  display: none;
}
.region-menu {
  @include gradient($color: #f4f4f4, $color2: #c5c5c5);

  border-bottom:1px solid darken(#b9b9bd, 10%);
  overflow:hidden;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#zone-menu-wrapper .region-menu.grid-12 {
  float: none;
  width: auto;
  margin: 0 10px;
  display: block;
}
.rgba {
  .region-menu {
    -webkit-box-shadow: inset 0 1px 0 rgba(lighten(#eaeaef, 10%),0.5);
    box-shadow: inset 0 1px 0 rgba(lighten(#eaeaef, 10%),0.5);
  }
  .region-menu .navigation ul li a.active,
  .region-menu .navigation ul li a.active-trail {
    -webkit-box-shadow: inset 0 1px 0 rgba(lighten(#535353, 20%),0.5);
    box-shadow: inset 0 1px 0 rgba(lighten(#535353, 20%),0.5);
  }
}
.region-menu .navigation ul li {
  //border-right:1px solid #eee;
  //border-right-color: rgb(185,185,189);
  //border-right-color: rgba(255,255,255,.4);
  display:block;
  float:left;
}
.region-menu .navigation ul li a {
  border-right:1px solid #ccc;
  border-right-color: rgb(160,160,164);
  border-right-color: rgba(0,0,0,.15);
  //border-left:1px solid #eee;
  border-bottom:none;
  color:#333;
}
.region-menu .navigation ul li.first a,
.region-menu .navigation ul li a#home-link {
  border-left:none;
  //-webkit-border-top-left-radius: 3px;
  //-moz-border-radius-topleft: 3px;
  //border-top-left-radius: 3px;
  color:#333;
  background: transparent;
  -webkit-box-shadow:none;
  box-shadow: none;
  filter: none;
}
.region-menu .navigation ul li.last a {
  border-right:none;
}
.region-menu .navigation ul li a.active,
.region-menu .navigation ul li a.active-trail,
.region-menu .navigation ul li a:hover,
.region-menu .navigation ul li a:focus {
  @include gradient($color: #666, $color2: #393939);
  color:#fff;
}


.section-wrapper {
  background-image: url(../images/background.png);
  background-repeat: repeat-x;
  background-color: #fff;
}
#section-content {
  background-image: url(../images/shadow.png);
  background-repeat: no-repeat;
  background-position: top center;
}
#zone-intro,
#zone-slider {
  width:960px;
  margin: 0 auto;
  background-color: #fff;
}
#page-title-image-wrapper {
  background-color: #fff;
  width:960px;
  max-width: none;
}
#page-title-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width:920px;
  margin: 20px auto 0;
}
#zone-content-wrapper {
  background-color: #fff;
  width: 960px;
  margin: 0 auto;
  //min-height: 300px;
}
#zone-after-content {
  background-color: #fff;
}
#zone-after-content-2-wrapper {
  background-color: #f7f7f7;
  padding-top: 20px;
}
#zone-footer-wrapper {
  background-image: url(../images/footer-top-background.png);
  background-repeat: repeat-x;
  padding-top:30px;
  background-color: #272727;
}
#zone-footer,
#zone-site-information {
  color:#fff;
}
#zone-footer a,
#zone-site-information a {
  color:$cugold;
  &:hover,
  &:focus {
    color:#fff;
  }
}
.secondary-navigation {
  color:#fff;
  @include gradient($color: #555, $color2: #333);
}
.secondary-navigation  {
  ul#secondary-menu li {
    a {
      color:#eee;
      display: inline-block;
      &:hover,
      &:focus,
      &.active,
      &.active-trail {
        color:#fff;
        @include gradient($color: #757575, $color2: #666);
      }
    }
  }
}


// Subnav
$defaultFG: #656565;
$hoverFG: #202020;
$activeBG: #404040;
$activeFG: #fff;
$border: #e7e7e7;

#block-menu-block-site-navigation-menus-1,
#block-menu-block-site-navigation-menus-2,
#block-menu-block-site-navigation-menus-3,
#section-navigation {

  $indent: 10px;

  .menu-block-wrapper {
    font-weight: 500;
    border-bottom: 1px solid $border;
  }
  ul.menu a {
    padding:10px;
    border:1px solid $border;
    margin-bottom: -1px;
    color:$defaultFG;
    line-height: 120%;
    &:hover,
    &:focus {
      background-color: $border;
      color:$hoverFG;
    }
    &.active-trail {
      border-bottom: none;
    }
    &.active {
      color:$activeFG;
      background-color: $activeBG;
      font-weight: 500 !important;
    }
  }
  li.active-trail {
    border-left:3px solid $activeBG;

    a {
      border-left-color: $activeBG;
    }
  }
  li.active-trail > a {

  }
  li.active-trail li {
    border:none;
  }
  ul.menu ul.menu a {
    padding-left: $indent * 2;
    font-size: 90%;
    padding-top:7px;
    padding-bottom: 7px;
    border-top: none;
    border-bottom: none;
    font-weight: normal;
  }
  ul.menu ul.menu ul.menu a {
    padding-left: $indent * 3;
  }
  ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 4;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 5;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 6;
  }
}

#block-menu-block-site-navigation-menus-3 h2.block-title {
  font-size: 100%;
  line-height: 120%;
  padding: 0;
  margin: 0;

  a {
    display: block;
    padding:10px;
    background-color: $activeBG;
    color:$activeFG;
    font-weight: 600;
  }
}
