@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  // keeps background from busting out of border
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
$radius_small: 3px;

.hero-unit {
  background-size: cover;
  background-position: center center;
  text-align: center;
  min-height: 180px;
  position: relative;
}
.hero-unit.hero-size-small {
  min-height: 50px;
}
.hero-unit-content-wrapper {
  margin:0 auto;
  width:100%;
}


/* FONT SIZE */

.hero-unit {
  font-size:18px;
}
.hero-unit.hero-size-small {
  font-size:18px;
}

.hero-unit-links {
  line-height: 100%;
  font-size: 75%;
}
.hero-unit p {
  line-height: 125%;
}
.hero-unit {
  h2 {
    font-size: 200%;
  }
}

/* PADDING */

.hero-unit-image .hero-unit-content-inner {
  padding:0 20px;
}
.hero-unit-text .hero-unit-content-inner {
  padding:20px;
}
.hero-size-small.hero-unit-image .hero-unit-content-inner {
  padding:0 20px;
}
.hero-size-small.hero-unit-text .hero-unit-content-inner {
  padding:20px;
}

@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape) {
  .hero-unit-image .hero-unit-content-inner {
    padding:0 60px;
  }
  .hero-unit-text .hero-unit-content-inner {
    padding:100px 50px;
  }
  .hero-unit {
    font-size:21px;
  }
  .hero-unit.hero-size-small {
    font-size:18px;
  }
}
.hero-unit-content-wrapper .hero-unit-content {
  //max-width: 960px;
  //margin: 0 auto;
}






/* IMAGE SIZE PRIORITY */


.hero-unit-image {
  //position: relative;
  img {
    width:100%;
    height: auto;
  }
}
.hero-unit-image .hero-unit-content-wrapper {

  //width: 100%;
  position: relative;
}
.hero-unit-text .hero-unit-content-wrapper {

  width:100%;
  //max-width: 960px;
}
.hero-unit-image .hero-unit-content-wrapper {
  width:100%;
  //max-width: 960px;
}
.csstransforms .hero-unit-image .hero-unit-content-wrapper {
  width:100%;
  margin: 0 auto;
  //max-width: 960px;


}


.hero-unit-image-content-wrapper {
  position: absolute;
  left:0;
  width: 100%;
  top: 30%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



/* ALIGNMENT */

.hero-align-left {
  text-align: left;
  .hero-unit-links a:first-child {
    //margin-left:0;
  }
}
.hero-align-right {
  text-align: right;
  .hero-unit-links a:last-child {
    //margin-right:0;
  }
}
.hero-align-center {
  text-align: center;
}
.hero-align-left-half {
  .hero-unit-content {
    text-align: left;
    width:100%;
    padding-right:40%;
  }
  .hero-unit-links a:first-child {
    //margin-left:0;
  }
}
.hero-align-right-half {
  .hero-unit-content {
    text-align: left;
    width:100%;
    padding-left:40%;
  }
  .hero-unit-links a:last-child {
    //margin-right:0;
  }

}
.hero-align-left-half .hero-unit-content {

}
.hero-align-right-half .hero-unit-content {

}

.hero-background-none.hero-unit-text {
  padding-left:0;
  padding-right:0;
}



#zone-slider .hero-unit {
  margin-bottom: 20px;
}

/* COLORS */

.hero-text-white {
  color:#fff;
}
.hero-text-black {
  color:#111;
}

.hero-background-gold {
  background-color: #cfb87c;
}
.hero-background-white {
  background-color: #f7f7f7;
  border:1px solid #e0e0e0;
}
.hero-background-blue,
.hero-background-green,
.hero-background-orange,
.hero-background-red,
.hero-background-black {
  background-color: #000;
}
.hero-background-gray {
  background-color: #f0f0f0;
}
.hero-background-dark_gray {
  background-color: #363636;
}


/* BUTTONS */

.hero-unit-links {
  font-size: 85%;
}

.hero-unit-links a {
  display: inline-block;
  padding:10px;
  font-weight:500;
  margin-right: 10px;
  margin-bottom: 10px;
}
.hero-unit-links a:last-child {
  margin-right:0;
}

.hero-links-blue a:link,
.hero-links-blue a:visited {
  background-color: #0082c3;
  color: #fff;
  @include rounded($radius: $radius_small);
}
.hero-links-gold a:link,
.hero-links-gold a:visited {
  background-color: #cfb87c;
  color:#000;
  @include rounded($radius: $radius_small);
}
.hero-links-white a:link,
.hero-links-white a:visited {
  background-color: #fff;
  color:#363636 !important;
  @include rounded($radius: $radius_small);
}
.hero-links-black a:link,
.hero-links-black a:visited {
  background-color: #000;
  color: #fff;
  @include rounded($radius: $radius_small);
}
.hero-links-gray a:link,
.hero-links-gray a:visited {
  background-color: #f5f5f5;
  color:#363636;
  @include rounded($radius: $radius_small);
}
.hero-links-dark_gray a:link,
.hero-links-dark_gray a:visited {
  background-color: #333333;
  color: #fff;
  @include rounded($radius: $radius_small);
}

.hero-links-outline-white a:link,
.hero-links-outline-white a:visited {
  color:#fff;
  line-height: 100%;
  padding:10px;
  border:1px solid #fff;
  display: inline-block;
  font-weight: bold;
  background: rgba(0,0,0,.1);
}
.hero-links-outline-black a:link,
.hero-links-outline-black a:visited {
  color:#000;
  line-height: 100%;
  padding:10px;
  border:1px solid #000;
  display: inline-block;
  font-weight: bold;
  background: rgba(0,0,0,.1);
}


.hero-unit video {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}
