body { background-color: #1e1e1e; }

.layout-boxed .page-wrapper { padding: 20px 0; }

.layout-boxed #page { width: 960px; margin: 0 auto; }

.layout-boxed.is-responsive #page { width: auto; max-width: 960px; margin: 0 auto; }

.rgba .layout-boxed #page { -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); }

.layout-wide #backstretch { display: none; }

#section-header { background-color: #fff; }

.banner-black #zone-branding-wrapper { background-color: #000; margin-bottom: 20px; }

#zone-menu .region-menu { font-size: 90%; background-color: #363636; background-image: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#161616)); background-image: -webkit-linear-gradient(top, #363636, #161616); background-image: -moz-linear-gradient(top, #363636, #161616); background-image: -o-linear-gradient(top, #363636, #161616); background-image: -ms-linear-gradient(top, #363636, #161616); background-image: linear-gradient(top, #363636, #161616); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF363636', EndColorStr='#FF161616'); }

#zone-menu ul#main-menu a { color: #fff; font-weight: 600; border-right: 1px solid #444; }

#zone-menu ul#main-menu a:hover, #zone-menu ul#main-menu a:focus, #zone-menu ul#main-menu a.active, #zone-menu ul#main-menu a.active-trail { background-color: #666666; background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#444444)); background-image: -webkit-linear-gradient(top, #666666, #444444); background-image: -moz-linear-gradient(top, #666666, #444444); background-image: -o-linear-gradient(top, #666666, #444444); background-image: -ms-linear-gradient(top, #666666, #444444); background-image: linear-gradient(top, #666666, #444444); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF666666', EndColorStr='#FF444444'); background-color: #cfb87c; background-image: -webkit-gradient(linear, left top, left bottom, from(#cfb87c), to(#c8ae69)); background-image: -webkit-linear-gradient(top, #cfb87c, #c8ae69); background-image: -moz-linear-gradient(top, #cfb87c, #c8ae69); background-image: -o-linear-gradient(top, #cfb87c, #c8ae69); background-image: -ms-linear-gradient(top, #cfb87c, #c8ae69); background-image: linear-gradient(top, #cfb87c, #c8ae69); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFCFB87C', EndColorStr='#FFC8AE69'); color: #000; }

#zone-menu ul#main-menu a#home-link { background-color: transparent; }

#zone-secondary-menu { color: #363636; }
#zone-secondary-menu a { color: #363636; display: inline-block; }
#zone-secondary-menu a:hover, #zone-secondary-menu a:focus { color: #fff; background-color: #555555; background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#333333)); background-image: -webkit-linear-gradient(top, #555555, #333333); background-image: -moz-linear-gradient(top, #555555, #333333); background-image: -o-linear-gradient(top, #555555, #333333); background-image: -ms-linear-gradient(top, #555555, #333333); background-image: linear-gradient(top, #555555, #333333); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF555555', EndColorStr='#FF333333'); }
#zone-secondary-menu a.active, #zone-secondary-menu a.active-trail { background-color: #cfb87c; background-image: -webkit-gradient(linear, left top, left bottom, from(#cfb87c), to(#c8ae69)); background-image: -webkit-linear-gradient(top, #cfb87c, #c8ae69); background-image: -moz-linear-gradient(top, #cfb87c, #c8ae69); background-image: -o-linear-gradient(top, #cfb87c, #c8ae69); background-image: -ms-linear-gradient(top, #cfb87c, #c8ae69); background-image: linear-gradient(top, #cfb87c, #c8ae69); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFCFB87C', EndColorStr='#FFC8AE69'); color: #000; }

a#tablet-toggle { color: #fff; }

#main-menu-mobile a, #secondary-menu-mobile a { color: #fff; }
#main-menu-mobile a.active, #main-menu-mobile a.active-trail, #secondary-menu-mobile a.active, #secondary-menu-mobile a.active-trail { color: #000; background-color: #cfb87c; }

#zone-intro { padding-top: 20px; }

#page-title-image-wrapper { margin-top: 20px; }

.page-title-wrapper { background-color: #f7f7f7; border-bottom: 3px solid #e0e0e0; padding: 10px 0; }

#page_title { padding: 0; }

.page-title-section h1 { font-size: 187%; font-weight: normal; margin: 0; padding: 0px 0; }

#section-content { background-color: #fff; }

#zone-wide-2 + #zone-after-content-wrapper { padding-top: 40px; }

#zone-after-content-2-wrapper { background-color: #f4f4f4; padding-top: 40px; }

.zone-after-content-2 a:link, .zone-after-content-2 a:visited { color: #006db1; }
.zone-after-content-2 a:hover, .zone-after-content-2 a:focus { color: #e51c23; }

#section-footer { color: #fff; background-color: #272727; }

#section-footer a, #section-footer a.active, #section-footer a.active-trail { color: #cfb87c; }

#section-footer a:hover { color: #fff; }

#section-footer a:focus { color: #fff; }

#zone-footer-wrapper { padding-top: 40px; }

#zone-site-information-wrapper { background-color: #1e1e1e; }

/* BLOCKSTYLES OVERRIDES */
.blockoutline .block-inner, .blockgray .block-inner, .blockdarkgray .block-inner { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }

#block-menu-block-site-navigation-menus-1 .menu-block-wrapper, #block-menu-block-site-navigation-menus-2 .menu-block-wrapper, #block-menu-block-site-navigation-menus-3 .menu-block-wrapper, #section-navigation .menu-block-wrapper { font-weight: 500; border-bottom: 1px solid #e7e7e7; }
#block-menu-block-site-navigation-menus-1 ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu a, #section-navigation ul.menu a { padding: 10px; border: 1px solid #e7e7e7; margin-bottom: -1px; color: #656565; line-height: 120%; }
#block-menu-block-site-navigation-menus-1 ul.menu a:hover, #block-menu-block-site-navigation-menus-1 ul.menu a:focus, #block-menu-block-site-navigation-menus-2 ul.menu a:hover, #block-menu-block-site-navigation-menus-2 ul.menu a:focus, #block-menu-block-site-navigation-menus-3 ul.menu a:hover, #block-menu-block-site-navigation-menus-3 ul.menu a:focus, #section-navigation ul.menu a:hover, #section-navigation ul.menu a:focus { background-color: #e7e7e7; color: #202020; }
#block-menu-block-site-navigation-menus-1 ul.menu a.active-trail, #block-menu-block-site-navigation-menus-2 ul.menu a.active-trail, #block-menu-block-site-navigation-menus-3 ul.menu a.active-trail, #section-navigation ul.menu a.active-trail { border-bottom: none; }
#block-menu-block-site-navigation-menus-1 ul.menu a.active, #block-menu-block-site-navigation-menus-2 ul.menu a.active, #block-menu-block-site-navigation-menus-3 ul.menu a.active, #section-navigation ul.menu a.active { color: black; background-color: #cfb87c; font-weight: 500 !important; }
#block-menu-block-site-navigation-menus-1 li.active-trail, #block-menu-block-site-navigation-menus-2 li.active-trail, #block-menu-block-site-navigation-menus-3 li.active-trail, #section-navigation li.active-trail { border-left: 3px solid #cfb87c; }
#block-menu-block-site-navigation-menus-1 li.active-trail a, #block-menu-block-site-navigation-menus-2 li.active-trail a, #block-menu-block-site-navigation-menus-3 li.active-trail a, #section-navigation li.active-trail a { border-left-color: #cfb87c; }
#block-menu-block-site-navigation-menus-1 li.active-trail li, #block-menu-block-site-navigation-menus-2 li.active-trail li, #block-menu-block-site-navigation-menus-3 li.active-trail li, #section-navigation li.active-trail li { border: none; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu a, #section-navigation ul.menu ul.menu a { padding-left: 20px; font-size: 90%; padding-top: 7px; padding-bottom: 7px; border-top: none; border-bottom: none; font-weight: normal; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu a { padding-left: 30px; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu ul.menu a { padding-left: 40px; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu ul.menu ul.menu a { padding-left: 50px; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a { padding-left: 60px; }

#block-menu-block-site-navigation-menus-3 h2.block-title { font-size: 100%; line-height: 120%; padding: 0; margin: 0; }
#block-menu-block-site-navigation-menus-3 h2.block-title a { display: block; padding: 10px; background-color: #cfb87c; color: black; font-weight: 600; }
