body { background-color: #1e1e1e; }

.layout-wide #backstretch { display: none; }

.layout-boxed.layout-fixed #page { width: 1200px; margin: 0 auto; }

.layout-boxed.layout-responsive #page { max-width: 1200px; margin: 0 auto; }

.layout-boxed #page { -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }

#navigation nav { background-color: #333; }

#main { padding-top: 0; }

#footer-menu-wrapper { padding: 10px 0px; }

.after-content-wrapper { padding: 0; }

.after-content, .after-content-2, .footer, .site-info-wrapper { padding: 40px 0px 20px; }

.banner-white #header-wrapper { background-color: #fff; }

.banner-black #header-wrapper { background-color: #000; }

.navigation-wrapper { background-color: #fff; }

@media screen and (min-width: 960px) { .banner-white .navigation-wrapper { padding-bottom: 20px; }
  .banner-black .navigation-wrapper { padding: 40px 0 20px; } }
h2.secondary-menu-label { margin-left: 8px; }

.banner-white #secondary-menu-wrapper { background-color: #fff; }

.banner-black #secondary-menu-wrapper { background-color: #fff; }

#secondary-menu-wrapper { color: #363636; }
#secondary-menu-wrapper a { color: #363636; display: inline-block; }
#secondary-menu-wrapper a:hover, #secondary-menu-wrapper a:focus { color: #fff; background-color: #555555; background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#333333)); background-image: -webkit-linear-gradient(top, #555555, #333333); background-image: -moz-linear-gradient(top, #555555, #333333); background-image: -o-linear-gradient(top, #555555, #333333); background-image: -ms-linear-gradient(top, #555555, #333333); background-image: linear-gradient(top, #555555, #333333); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF555555', EndColorStr='#FF333333'); }
#secondary-menu-wrapper a.active, #secondary-menu-wrapper a.active-trail { background-color: #cfb87c; background-image: -webkit-gradient(linear, left top, left bottom, from(#cfb87c), to(#c8ae69)); background-image: -webkit-linear-gradient(top, #cfb87c, #c8ae69); background-image: -moz-linear-gradient(top, #cfb87c, #c8ae69); background-image: -o-linear-gradient(top, #cfb87c, #c8ae69); background-image: -ms-linear-gradient(top, #cfb87c, #c8ae69); background-image: linear-gradient(top, #cfb87c, #c8ae69); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFCFB87C', EndColorStr='#FFC8AE69'); color: #000; }

#main-menu-wrapper { background-color: #fff; font-size: 90%; color: #fff; }

#main-menu-wrapper nav.region-menu { background-color: #363636; background-image: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#161616)); background-image: -webkit-linear-gradient(top, #363636, #161616); background-image: -moz-linear-gradient(top, #363636, #161616); background-image: -o-linear-gradient(top, #363636, #161616); background-image: -ms-linear-gradient(top, #363636, #161616); background-image: linear-gradient(top, #363636, #161616); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF363636', EndColorStr='#FF161616'); }

#main-menu-wrapper ul#main-menu a { font-weight: 600; color: #fff; }

#main-menu-wrapper ul#main-menu a:hover { background-color: #cfb87c; background-image: -webkit-gradient(linear, left top, left bottom, from(#cfb87c), to(#c8ae69)); background-image: -webkit-linear-gradient(top, #cfb87c, #c8ae69); background-image: -moz-linear-gradient(top, #cfb87c, #c8ae69); background-image: -o-linear-gradient(top, #cfb87c, #c8ae69); background-image: -ms-linear-gradient(top, #cfb87c, #c8ae69); background-image: linear-gradient(top, #cfb87c, #c8ae69); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFCFB87C', EndColorStr='#FFC8AE69'); color: #000; }

#main-menu-wrapper ul#main-menu a.active, #main-menu-wrapper ul#main-menu a.active-trail { background-color: #cfb87c; background-image: -webkit-gradient(linear, left top, left bottom, from(#cfb87c), to(#c8ae69)); background-image: -webkit-linear-gradient(top, #cfb87c, #c8ae69); background-image: -moz-linear-gradient(top, #cfb87c, #c8ae69); background-image: -o-linear-gradient(top, #cfb87c, #c8ae69); background-image: -ms-linear-gradient(top, #cfb87c, #c8ae69); background-image: linear-gradient(top, #cfb87c, #c8ae69); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFCFB87C', EndColorStr='#FFC8AE69'); color: #000; }

#main-menu-wrapper ul#action-menu a { color: #fff; }

.intro-wide-wrapper { background-color: #fff; }

.slider-wrapper { background-color: #f4f4f4; padding: 20px; }

.content-wrapper, .post-wide-wrapper, .after-content-wrapper { background-color: #fff; }

.after-content2-wrapper { background-color: #f4f4f4; }

.after-content2-wrapper a:link, .after-content2-wrapper a:visited { color: #006db1; }
.after-content2-wrapper a:hover, .after-content2-wrapper a:focus { color: #e51c23; }

.footer-section { background-color: #272727; color: #fff; }
.footer-section .block-menu ul.menu a { border-bottom-color: #555; }

.footer-section a, .footer-section a.active, .footer-section a.active-trail { color: #cfb87c; }

.footer-section a:hover { color: #fff; }

.footer-wrapper { background-color: #272727; }

.site-info-wrapper { background-color: #1e1e1e; padding: 40px 0 20px; font-size: 90%; }

#mobile-navigation-wrapper { background-color: #000; color: #fff; }
#mobile-navigation-wrapper ul#main-menu-mobile { background-color: #333; }
#mobile-navigation-wrapper ul#main-menu-mobile a { color: #fff; border-bottom: 1px solid #444; }
#mobile-navigation-wrapper ul#main-menu-mobile a.active, #mobile-navigation-wrapper ul#main-menu-mobile a.active-trail { color: #000; background-color: #cfb87c; font-weight: 600; }
#mobile-navigation-wrapper ul#secondary-menu-mobile { background-color: #444; }
#mobile-navigation-wrapper ul#secondary-menu-mobile a { color: #fff; border-bottom: 1px solid #555; }
#mobile-navigation-wrapper ul#secondary-menu-mobile a.active, #mobile-navigation-wrapper ul#secondary-menu-mobile a.active-trail { color: #000; background-color: #cfb87c; font-weight: 600; }

#block-menu-block-site-navigation-menus-1 .menu-block-wrapper, #block-menu-block-site-navigation-menus-2 .menu-block-wrapper, #block-menu-block-site-navigation-menus-3 .menu-block-wrapper, #section-navigation .menu-block-wrapper { font-weight: 500; border-bottom: 1px solid #e7e7e7; }
#block-menu-block-site-navigation-menus-1 ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu a, #section-navigation ul.menu a { padding: 10px; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; margin-bottom: -1px; color: #656565; line-height: 120%; }
#block-menu-block-site-navigation-menus-1 ul.menu a:hover, #block-menu-block-site-navigation-menus-1 ul.menu a:focus, #block-menu-block-site-navigation-menus-2 ul.menu a:hover, #block-menu-block-site-navigation-menus-2 ul.menu a:focus, #block-menu-block-site-navigation-menus-3 ul.menu a:hover, #block-menu-block-site-navigation-menus-3 ul.menu a:focus, #section-navigation ul.menu a:hover, #section-navigation ul.menu a:focus { background-color: #e7e7e7; color: #202020; }
#block-menu-block-site-navigation-menus-1 ul.menu a.active-trail, #block-menu-block-site-navigation-menus-2 ul.menu a.active-trail, #block-menu-block-site-navigation-menus-3 ul.menu a.active-trail, #section-navigation ul.menu a.active-trail { border-bottom: none; }
#block-menu-block-site-navigation-menus-1 ul.menu a.active, #block-menu-block-site-navigation-menus-2 ul.menu a.active, #block-menu-block-site-navigation-menus-3 ul.menu a.active, #section-navigation ul.menu a.active { color: black; background-color: #cfb87c; font-weight: 500 !important; }
#block-menu-block-site-navigation-menus-1 li.active-trail a, #block-menu-block-site-navigation-menus-2 li.active-trail a, #block-menu-block-site-navigation-menus-3 li.active-trail a, #section-navigation li.active-trail a { border-left-color: #cfb87c; }
#block-menu-block-site-navigation-menus-1 li.active-trail li, #block-menu-block-site-navigation-menus-2 li.active-trail li, #block-menu-block-site-navigation-menus-3 li.active-trail li, #section-navigation li.active-trail li { border: none; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu a, #section-navigation ul.menu ul.menu a { padding-left: 20px; font-size: 90%; padding-top: 7px; padding-bottom: 7px; border-top: none; border-bottom: none; font-weight: normal; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu a { padding-left: 30px; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu ul.menu a { padding-left: 40px; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu ul.menu ul.menu a { padding-left: 50px; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a { padding-left: 60px; }
#block-menu-block-site-navigation-menus-1 li.expanded, #block-menu-block-site-navigation-menus-2 li.expanded, #block-menu-block-site-navigation-menus-3 li.expanded, #section-navigation li.expanded { border-left: 1px solid #cfb87c; }

#block-menu-block-site-navigation-menus-3 h2.block-title { font-size: 100%; line-height: 120%; padding: 0; margin: 0; }
#block-menu-block-site-navigation-menus-3 h2.block-title a { display: block; padding: 10px; background-color: #cfb87c; color: black; font-weight: 600; }
