.recline-slickgrid {
  height: 550px;
}
.recline-timeline .vmm-timeline {
  height: 550px;
}
.recline-data-explorer {
  padding: 0 0 50px 0;
}
.recline-data-explorer .panel.graph {
  height: 650px;
  width: 600px;
}
.recline-data-explorer .legend {
  position: absolute;
  bottom: 0px;
  right: 50px;
}
.embed-code-wrapper {
  display: none;
}

.recline-flot .graph {
  height: 500px;
  overflow: hidden;
}

.recline-flot .legend table {
  width: auto;
  margin-bottom: 0;
}

.recline-flot .legend td {
  padding: 5px;
  line-height: 13px;
}

.recline-flot .graph .alert {
  width: 450px;
}

#recline-flot-tooltip {
  position: absolute;
  background-color: #FFF !important;
  color: #000000 !important;
  opacity: 0.8 !important;
  border: 1px solid #DDE4FF !important;
  padding: 5px;
}

.data-explorer div{
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}