.field-widget-inline-entity-form .container-inline > *, .field-widget-inline-entity-form .container-inline > .form-item { padding-right: 10px; margin: 0; }
.field-widget-inline-entity-form .ief-separator { padding-right: 10px; color: #858585; font-weight: bold; }
