@import "../../expressbase/scss/modules/_global.scss";
@import "../../expressbase/scss/modules/_colors.scss";

body.layout-boxed  {
  background-color: #fafafa;
}
body.layout-wide {
  background-color: #000;
  #backstretch {
    display: none;
  }
}
.layout-boxed #page {
  width:1200px;
  margin: 0 auto;
  @include rgbashadow(0px, 0px, 80px, #000, .25);
  overflow: hidden;
}
.layout-responsive.layout-boxed #page {
  width: 100%;
  max-width: 1200px;
}

.banner-black {
  #secondary-menu-wrapper {
    background-color: #000;
  }
}

.banner-white {
  #secondary-menu-wrapper {
    background-color: #fff;
  }
  #secondary-menu {
    border:1px solid #d7d7d7;
  }
}

#secondary-menu-wrapper {
  color:#757575;
  a {
    color:#757575;
  }
  a:hover,
  a:focus,
  a.active,
  a.active-trail {
    @include gradient(lighten(#333, 10%), #333);
    color:#fff;
    display: inline-block;
  }
}
#secondary-menu {
  border-bottom: none;
  background-color: #ffffff;
  @include gradient(#ffffff, #f4f4f4);
  h2 {
    padding-left: 8px;
  }
}
#main-menu-wrapper {
  background-color:#fff;
  border-bottom:1px solid #d7d7d7;
  background-color: #ffffff;
  @include gradient(#ffffff, #f4f4f4);
}
.banner-white #main-menu-wrapper {
  border-top:1px solid #e7e7e7;
  @include gradient(#fafafa, #f1f1f1);
}

ul#action-menu a {
  color:#757575;
  //font-weight: bold;
  border: none;
  &:hover,
  &:focus {
    color:#333;
  }
}

ul#main-menu {
  a {
    color:#656565;
    border-left:1px solid $border_color;
  }
  a:hover,
  a:focus,
  a.active,
  a.active-trail {
    color:#fff;
    @include gradient(lighten(#333, 10%), #333);
    border-bottom: 1px solid #333;
    margin-bottom: -1px;
    position: relative;
    border-left-color: #333;
  }
}

ul#main-menu a.home-link {
  background: transparent;
  filter:none;
  color:#757575;
  border:none;
}
ul#main-menu a.home-link:hover,
ul#main-menu a.home-link.active {
  color:#333;
  background: transparent;
}
.intro-wide-wrapper {
  margin-top: -1px;
  background-color: #111;
}
.slider-wrapper {
  background-color: #f5f5f5;
  background-image: url(../images/content-shadow.png);
  background-repeat: repeat-x;
  border-bottom: 1px solid #d7d7d7;
  padding: 20px;
}
#post-title-wide-wrapper {
  background: #fff;
  padding-bottom: 20px;
}
#main-content-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

#content-wrapper {
  background-color: #fff;
  background-image: url(../images/content-shadow.png);
  background-repeat: repeat-x;
}
.post-wide-wrapper {
  background-color: #fff;
}
.footer-section {
  background-color:$bg_dark1;
  border-top:5px solid #c7c7c7;
  background-image: url(../images/content-shadow.png);
  background-repeat: repeat-x;
  color: #fff;
  a:link, a:visited {
    color:$cugold;
    &:hover,
    &:focus {
      color:#fff;
    }
  }
}
.after-content-wrapper,
.after-content2-wrapper {
  background-color: #fff;
}
.after-content-2 .region-lower {
  padding-top: 20px;
  position: relative;
}
.after-content-2 .region-lower:before {
  content: '';
  border-top:1px solid $border_color;
  position: absolute;
  top:0;
  margin: 0 auto;
  left:20px;
  right:20px;
  width: -moz-calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
}
#footer {
  padding-top: 20px;
}
.site-info-wrapper {
  background-color: #000;
}

// Subnav
$defaultFG: #656565;
$hoverFG: #202020;
$activeBG: #4c4c4c;
$activeFG: #fff;
$border: #e7e7e7;

#block-menu-block-site-navigation-menus-1,
#block-menu-block-site-navigation-menus-2,
#block-menu-block-site-navigation-menus-3,
#section-navigation {

  $indent: 10px;

  .menu-block-wrapper {
    font-weight: 500;
    border-bottom: 1px solid $border;
  }
  ul.menu a {
    padding:10px;
    border-bottom:1px solid $border;
    border-top:1px solid $border;
    margin-bottom: -1px;
    color:$defaultFG;
    line-height: 120%;
    &:hover,
    &:focus {
      background-color: $border;
      color:$hoverFG;
    }
    &.active-trail {
      border-bottom: none;
    }
    &.active {
      color:$activeFG;
      background-color: $activeBG;
      @include gradient(lighten(#333, 10%), #333);
      font-weight: 500 !important;
    }
  }
  li.active-trail {
    //border-left:3px solid $activeBG;

    a {
      border-left-color: $activeBG;
    }
  }
  li.active-trail > a {

  }
  li.active-trail li {
    border:none;
  }
  ul.menu ul.menu a {
    padding-left: $indent * 2;
    font-size: 90%;
    padding-top:7px;
    padding-bottom: 7px;
    border-top: none;
    border-bottom: none;
    font-weight: normal;
  }
  ul.menu ul.menu ul.menu a {
    padding-left: $indent * 3;
  }
  ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 4;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 5;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 6;
  }
  li.expanded  {
    border-left:1px solid $activeBG;
  }
}

#block-menu-block-site-navigation-menus-3 h2.block-title {
  font-size: 100%;
  line-height: 120%;
  padding: 0;
  margin: 0;

  a {
    display: block;
    padding:10px;
    background-color: $activeBG;
    color:$activeFG;
    font-weight: 600;
  }
}
.hero-unit,
.block-section {
  -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 0 50px rgba(0,0,0,0.25);
  box-shadow: inset 0 0 50px rgba(0,0,0,0.25);
}
.block-section {
  .block-section,
  .hero-unit {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow: none;
  }
}

// Mobile Menu
#mobile-navigation-wrapper{
  background-color: #f5f5f5;
  padding-bottom: 20px;
  color:#333;
  ul#main-menu-mobile,
  ul#footer-menu-mobile {
    background-color: #f5f5f5;
    a {
      color:#333;
      border-bottom: 1px solid #e7e7e7;
    }
    a.active,
    a.active-trail {
      color:#fff;
      background-color: #333;
      font-weight: 600;
      border-bottom: 1px solid #333;
    }
  }
  ul#secondary-menu-mobile {
    background-color: #666;
    a {
      color:#fff;
      border-bottom: 1px solid #555;
    }
    a.active,
    a.active-trail {
      color:#fff;
      background-color: #333;
      font-weight: 600;
      border-bottom: 1px solid #333;
    }
  }
  ul#secondary-menu-mobile,
  ul#footer-menu-mobile {
    border-top:3px solid #ddd;
  }
}
