/* COURSE SEARCH */
.view-cu-classes-summer .views-exposed-form label { font-size: 75%; }

.view-cu-classes-summer .views-exposed-form input.form-text { padding: 5px; }

@media screen and (min-width: 768px) { .view-cu-classes-summer .class-section h3 { position: absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); } }
.view-cu-classes-summer .views-row { padding: 0 20px; }

.view-cu-classes-summer .views-row-odd { background-color: #f5f5f5; }

.view-cu-classes-summer .views-exposed-widget input:not(:first-child) { margin-left: 15px; }

.view-cu-classes-summer input[type="text"] { font-size: 13px; }
.view-cu-classes-summer select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; border: 1px solid #aaa; padding: 8px 30px 8px 8px; background-color: #e7e7e7; background-image: url(../images/select-arrows.png); background-position: right center; background-repeat: no-repeat; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border: none; color: #333; font-weight: 600; font-size: 12px; max-width: 100px; width: 100%; }
.view-cu-classes-summer select:hover { background-color: #d7d7d7; }
.view-cu-classes-summer select::-ms-expand { display: none; }
.view-cu-classes-summer input.form-submit, .view-cu-classes-summer input.form-reset { background-color: #007BC8; color: #fff; font-weight: 600; font-size: 12px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; background-image: none; -webkit-appearance: none; border: none; padding: 8px; }
.view-cu-classes-summer input.form-reset, .view-cu-classes-summer input#edit-reset { background-color: #444; }
.view-cu-classes-summer input[type=submit]:focus { outline: #000 solid 2px; }
.view-cu-classes-summer .views-exposed-form .views-exposed-widget .form-submit { margin-top: 15px; }
@media screen and (min-width: 960px) { .view-cu-classes-summer .views-exposed-widgets1 > div { display: table-cell; float: none; margin: 0; vertical-align: bottom; white-space: nowrap; }
  .view-cu-classes-summer select { max-width: 120px; }
  .view-cu-classes-summer .class-search-actions { padding-top: 5px; } }
.view-cu-classes-summer .views-widget-filter-combine { float: none; margin: 0; padding: 0; width: 100%; }
.view-cu-classes-summer .views-widget-filter-combine input.form-text { width: 100%; }
.view-cu-classes-summer .views-widget-filter-combine label { display: block; }
.view-cu-classes-summer .views-widget-filter-combine label.icon-closed:before { content: "\f196"; padding-right: 5px; font-family: FontAwesome; }
.view-cu-classes-summer .views-widget-filter-combine label.icon-open:before { content: "\f147"; padding-right: 5px; font-family: FontAwesome; }

.class-view-column-headers { font-weight: 600; padding: 10px 20px; font-size: 65%; text-transform: uppercase; display: none; color: #333; background-color: #ccc; }

@media screen and (min-width: 768px) { .class-view-column-headers { display: block; } }
.results-counter { font-weight: 600; padding: 15px; background-color: #e7e7e7; text-align: center; font-size: 120%; }
