
/* This is added until http://drupal.org/node/1015798 gets committed to D7 core css
   or something else gets done about the missing fieldset borders and titles */
.vertical-tabs fieldset fieldset legend {
  display: inline-block;
}

/* This is only stictly required for the SEVEN theme. */
div.vertical-tabs .vertical-tabs-panes fieldset fieldset {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 2.5em 0 0;
}

div.vertical-tabs .vertical-tabs-panes fieldset fieldset legend {
  display: inline-block;
}
