#toolbar .toolbar-menu-store-settings .wrapper-depth-3 ul.group {
  float: right;
}
#toolbar .toolbar-menu-store-settings .wrapper-depth-3 ul.group-0 {
  float: left;
}
#toolbar .toolbar-menu-site-settings .wrapper-depth-3 ul.group {
  float: right;
}
#toolbar .toolbar-menu-site-settings .wrapper-depth-3 ul.group-1 {
  float: left;
}
