/* contextual links offset */
/* line 6, ../scss/cu-block-row.scss */
.block-row-wrapper .block .contextual-links-wrapper {
  top: 30px;
}

/* removing bottom margin since nested blocks will already have one */
/* line 10, ../scss/cu-block-row.scss */
.block.block-bean-type-block-row {
  margin-bottom: 0;
}

/* line 14, ../scss/cu-block-row.scss */
.block-row-wrapper {
  max-width: 920px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  /* line 24, ../scss/cu-block-row.scss */
  .block-row-columns-2,
  .block-row-columns-4 {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-2:before, .block-row-columns-2:after,
  .block-row-columns-4:before,
  .block-row-columns-4:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-2:after,
  .block-row-columns-4:after {
    clear: both;
  }
  /* line 31, ../scss/cu-block-row.scss */
  .block-row-columns-2 .block-row-column-1,
  .block-row-columns-2 .block-row-column-3,
  .block-row-columns-4 .block-row-column-1,
  .block-row-columns-4 .block-row-column-3 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: both;
  }
  /* line 36, ../scss/cu-block-row.scss */
  .block-row-columns-2 .block-row-column-2,
  .block-row-columns-2 .block-row-column-4,
  .block-row-columns-4 .block-row-column-2,
  .block-row-columns-4 .block-row-column-4 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media screen and (min-width: 720px) {
  /* line 43, ../scss/cu-block-row.scss */
  .block-row-columns-2.block-row-distribution-left {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-2.block-row-distribution-left:before, .block-row-columns-2.block-row-distribution-left:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-2.block-row-distribution-left:after {
    clear: both;
  }
  /* line 48, ../scss/cu-block-row.scss */
  .block-row-columns-2.block-row-distribution-left .block-row-column-1 {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 51, ../scss/cu-block-row.scss */
  .block-row-columns-2.block-row-distribution-left .block-row-column-2 {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 55, ../scss/cu-block-row.scss */
  .block-row-columns-2.block-row-distribution-right {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-2.block-row-distribution-right:before, .block-row-columns-2.block-row-distribution-right:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-2.block-row-distribution-right:after {
    clear: both;
  }
  /* line 60, ../scss/cu-block-row.scss */
  .block-row-columns-2.block-row-distribution-right .block-row-column-1 {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 63, ../scss/cu-block-row.scss */
  .block-row-columns-2.block-row-distribution-right .block-row-column-2 {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 68, ../scss/cu-block-row.scss */
  .block-row-columns-3,
  .block-row-columns-6 {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-3:before, .block-row-columns-3:after,
  .block-row-columns-6:before,
  .block-row-columns-6:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-3:after,
  .block-row-columns-6:after {
    clear: both;
  }
  /* line 75, ../scss/cu-block-row.scss */
  .block-row-columns-3 .block-row-column-1,
  .block-row-columns-3 .block-row-column-4,
  .block-row-columns-6 .block-row-column-1,
  .block-row-columns-6 .block-row-column-4 {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: both;
  }
  /* line 80, ../scss/cu-block-row.scss */
  .block-row-columns-3 .block-row-column-2,
  .block-row-columns-3 .block-row-column-5,
  .block-row-columns-6 .block-row-column-2,
  .block-row-columns-6 .block-row-column-5 {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 84, ../scss/cu-block-row.scss */
  .block-row-columns-3 .block-row-column-3,
  .block-row-columns-3 .block-row-column-6,
  .block-row-columns-6 .block-row-column-3,
  .block-row-columns-6 .block-row-column-6 {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 88, ../scss/cu-block-row.scss */
  .block-row-columns-5 {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-5:before, .block-row-columns-5:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-5:after {
    clear: both;
  }
  /* line 94, ../scss/cu-block-row.scss */
  .block-row-columns-5 .block-row-column-1 {
    clear: both;
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 98, ../scss/cu-block-row.scss */
  .block-row-columns-5 .block-row-column-2 {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 101, ../scss/cu-block-row.scss */
  .block-row-columns-5 .block-row-column-3 {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 104, ../scss/cu-block-row.scss */
  .block-row-columns-5 .block-row-column-4 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: both;
  }
  /* line 108, ../scss/cu-block-row.scss */
  .block-row-columns-5 .block-row-column-5 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media screen and (min-width: 960px) {
  /* line 114, ../scss/cu-block-row.scss */
  .block-row-columns-4 {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-4:before, .block-row-columns-4:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-4:after {
    clear: both;
  }
  /* line 120, ../scss/cu-block-row.scss */
  .block-row-columns-4 .block-row-column-1 {
    clear: both;
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 124, ../scss/cu-block-row.scss */
  .block-row-columns-4 .block-row-column-2 {
    float: left;
    width: 25%;
    margin-left: 25%;
    margin-right: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 127, ../scss/cu-block-row.scss */
  .block-row-columns-4 .block-row-column-3 {
    float: left;
    width: 25%;
    margin-left: 50%;
    margin-right: -75%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: none;
  }
  /* line 131, ../scss/cu-block-row.scss */
  .block-row-columns-4 .block-row-column-4 {
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 135, ../scss/cu-block-row.scss */
  .block-row-columns-5 {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-5:before, .block-row-columns-5:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-5:after {
    clear: both;
  }
  /* line 141, ../scss/cu-block-row.scss */
  .block-row-columns-5 .block-row-column-1 {
    clear: both;
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 145, ../scss/cu-block-row.scss */
  .block-row-columns-5 .block-row-column-2 {
    float: left;
    width: 20%;
    margin-left: 20%;
    margin-right: -40%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 148, ../scss/cu-block-row.scss */
  .block-row-columns-5 .block-row-column-3 {
    float: left;
    width: 20%;
    margin-left: 40%;
    margin-right: -60%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 151, ../scss/cu-block-row.scss */
  .block-row-columns-5 .block-row-column-4 {
    float: left;
    width: 20%;
    margin-left: 60%;
    margin-right: -80%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: none;
  }
  /* line 155, ../scss/cu-block-row.scss */
  .block-row-columns-5 .block-row-column-5 {
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 159, ../scss/cu-block-row.scss */
  .block-row-columns-6 {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-6:before, .block-row-columns-6:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-6:after {
    clear: both;
  }
  /* line 165, ../scss/cu-block-row.scss */
  .block-row-columns-6 .block-row-column-1 {
    clear: both;
    float: left;
    width: 16.66667%;
    margin-left: 0%;
    margin-right: -16.66667%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 169, ../scss/cu-block-row.scss */
  .block-row-columns-6 .block-row-column-2 {
    float: left;
    width: 16.66667%;
    margin-left: 16.66667%;
    margin-right: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 172, ../scss/cu-block-row.scss */
  .block-row-columns-6 .block-row-column-3 {
    float: left;
    width: 16.66667%;
    margin-left: 33.33333%;
    margin-right: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 175, ../scss/cu-block-row.scss */
  .block-row-columns-6 .block-row-column-4 {
    float: left;
    width: 16.66667%;
    margin-left: 50%;
    margin-right: -66.66667%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: none;
  }
  /* line 179, ../scss/cu-block-row.scss */
  .block-row-columns-6 .block-row-column-5 {
    float: left;
    width: 16.66667%;
    margin-left: 66.66667%;
    margin-right: -83.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 182, ../scss/cu-block-row.scss */
  .block-row-columns-6 .block-row-column-6 {
    float: left;
    width: 16.66667%;
    margin-left: 83.33333%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 186, ../scss/cu-block-row.scss */
  .block-row-columns-3.block-row-distribution-left {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-3.block-row-distribution-left:before, .block-row-columns-3.block-row-distribution-left:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-3.block-row-distribution-left:after {
    clear: both;
  }
  /* line 191, ../scss/cu-block-row.scss */
  .block-row-columns-3.block-row-distribution-left .block-row-column-1 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 194, ../scss/cu-block-row.scss */
  .block-row-columns-3.block-row-distribution-left .block-row-column-2 {
    float: left;
    width: 25%;
    margin-left: 50%;
    margin-right: -75%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 197, ../scss/cu-block-row.scss */
  .block-row-columns-3.block-row-distribution-left .block-row-column-3 {
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 201, ../scss/cu-block-row.scss */
  .block-row-columns-3.block-row-distribution-right {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-3.block-row-distribution-right:before, .block-row-columns-3.block-row-distribution-right:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-3.block-row-distribution-right:after {
    clear: both;
  }
  /* line 206, ../scss/cu-block-row.scss */
  .block-row-columns-3.block-row-distribution-right .block-row-column-1 {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 209, ../scss/cu-block-row.scss */
  .block-row-columns-3.block-row-distribution-right .block-row-column-2 {
    float: left;
    width: 25%;
    margin-left: 25%;
    margin-right: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 212, ../scss/cu-block-row.scss */
  .block-row-columns-3.block-row-distribution-right .block-row-column-3 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 216, ../scss/cu-block-row.scss */
  .block-row-columns-4.block-row-distribution-left {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-4.block-row-distribution-left:before, .block-row-columns-4.block-row-distribution-left:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-4.block-row-distribution-left:after {
    clear: both;
  }
  /* line 221, ../scss/cu-block-row.scss */
  .block-row-columns-4.block-row-distribution-left .block-row-column-1 {
    float: left;
    width: 40%;
    margin-left: 0%;
    margin-right: -40%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 224, ../scss/cu-block-row.scss */
  .block-row-columns-4.block-row-distribution-left .block-row-column-2 {
    float: left;
    width: 20%;
    margin-left: 40%;
    margin-right: -60%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 227, ../scss/cu-block-row.scss */
  .block-row-columns-4.block-row-distribution-left .block-row-column-3 {
    float: left;
    width: 20%;
    margin-left: 60%;
    margin-right: -80%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 230, ../scss/cu-block-row.scss */
  .block-row-columns-4.block-row-distribution-left .block-row-column-4 {
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 234, ../scss/cu-block-row.scss */
  .block-row-columns-4.block-row-distribution-right {
    margin-right: -20px;
    margin-left: -20px;
  }
  /* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-4.block-row-distribution-right:before, .block-row-columns-4.block-row-distribution-right:after {
    content: "";
    display: table;
  }
  /* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .block-row-columns-4.block-row-distribution-right:after {
    clear: both;
  }
  /* line 239, ../scss/cu-block-row.scss */
  .block-row-columns-4.block-row-distribution-right .block-row-column-1 {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 242, ../scss/cu-block-row.scss */
  .block-row-columns-4.block-row-distribution-right .block-row-column-2 {
    float: left;
    width: 20%;
    margin-left: 20%;
    margin-right: -40%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 245, ../scss/cu-block-row.scss */
  .block-row-columns-4.block-row-distribution-right .block-row-column-3 {
    float: left;
    width: 20%;
    margin-left: 40%;
    margin-right: -60%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 248, ../scss/cu-block-row.scss */
  .block-row-columns-4.block-row-distribution-right .block-row-column-4 {
    float: left;
    width: 40%;
    margin-left: 60%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/* line 254, ../scss/cu-block-row.scss */
table.cu-block-row-table-example {
  width: 200px;
}
/* line 256, ../scss/cu-block-row.scss */
table.cu-block-row-table-example td {
  border: 3px solid #fff;
}
