/**
 * Styles for First Data Global Gateway e4 forms
 */

.commerce-firstdata-gge4-ctr-section {
  margin: 0.5em 0;
}
.commerce-firstdata-gge4-ctr-merchant {
  margin-top: 0;
}
.commerce-firstdata-gge4-ctr-legal {
  marign-bottom: 0;
}
.commerce-firstdata-gge4-ctr-account {
  font-size: 1.2em;
  font-weight: 700;
}
.commerce-firstdata-gge4-ctr-approval {
  font-weight: 700;
}

.commerce_firstdata_gge4_ctr.checkout-pane .commerce-firstdata-gge4-ctr {
  padding: 0 25%;
}
