@import "zen";
@import "zen/background";
$zen-column-count:  12;
$zen-gutter-width:  40px;
$half-gutter: $zen-gutter-width/2;
$zen-max-width: 1200px;

.element-max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $zen-max-width;
  @include zen-clear();
}
.element-max-width-gutter {
  margin-left: auto;
  margin-right: auto;
  max-width: $zen-max-width - $zen-gutter-width;
  @include zen-clear();
}
.element-max-width-padding {
  margin-left: auto;
  margin-right: auto;
  max-width: $zen-max-width;
  @include zen-clear();
  padding: 0 20px;
}


#header,
#secondary-navigation,
#navigation,
#slider,
#alerts,
#page-title-image,
#main,
#after-content,
#after-content-2,
#footer,
#footer-navigation,
#site-info {
  margin-left: auto;
  margin-right: auto;
  max-width: $zen-max-width;
  @include zen-clear();

}

#header,
#secondary-navigation,
#navigation,
#slider,
#alerts,
#page-title-image,
#main,
#after-content,
#after-content-2,
#footer,
#footer-navigation,
#site-info {
  @include zen-grid-container;
}
.page-title-image-inner {
  @include zen-grid-item(12, 1);
}

/* Mobile First */
#secondary-navigation {
  display: none;
  .secondary-nav-inner {
    //@include zen-grid-item(12, 1);
  }
}
#navigation,
#footer-navigation {
  display: none;
  .nav-inner {
    //@include zen-grid-item(12, 1);
  }
}





#content,
.region-sidebar-first,
.region-sidebar-second,
.region-after-content,
.region-lower,
.region-footer,
#site-footer {
  margin:0 $half-gutter;
}

.region-after-content,
.region-lower,
.region-footer {
  @include zen-grid-item(12, 1);
  overflow: hidden;
}

#navigation nav,
#footer-navigation nav {
  @include zen-grid-item(12, 1);
}

.mobile-menu-toggle {
  display: block;
}


/* TABLET */
@media all and (min-width: 720px) and (max-width: 959px) {
  .mobile-menu-toggle {
    display: block;
  }
  $zen-column-count: 12;

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(8, 5);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(4, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(8, 1);
    }

    /* Span 1 column, starting in 3rd column from left. */
    .region-sidebar-second {
      @include zen-grid-item(4, 9);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars.primary-sidebar-second {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(8, 1, left);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-second {
      @include zen-grid-item(4, 1, right);
    }

    /* Start a new row and span all 3 columns. */
    .region-sidebar-first {
      @include zen-grid-item(8, 1,left);
      @include zen-clear(left);
    }
  }
  .two-sidebars.primary-sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(8, 1, right);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(4, 1, left);
    }

    /* Start a new row and span all 3 columns. */
    .region-sidebar-second {
      @include zen-grid-item(8, 1,right);
      @include zen-clear(right);
    }
  }

  /* 2 & 4 columns */
  .region.two-columns .block,
  .region.four-columns .block,
  .block-2-col,
  .block-4-col{
    @include zen-float();
    @include zen-grid-flow-item(6,12, false, true);
    &:nth-child(2n+2) {
      @include zen-grid-flow-item(6, 12, false, false);
    }
    &:nth-child(2n+1) {
      @include zen-clear();
    }
  }
  /* 3 & 6 columns */
  .region.three-columns .block,
  .region.six-columns .block,
  .block-3-col,
  .block-6-col {
    @include zen-float();
    @include zen-grid-flow-item(4,12, false, true);
    &:nth-child(3n+3) {
      @include zen-grid-flow-item(4, 12, false, false);
    }
    &:nth-child(3n+1) {
      @include zen-clear();
    }
  }
  .region.five-columns .block,
  .block-5-col {
    @include zen-float();
    &:nth-child(5n+1),
    &:nth-child(5n+2) {
      @include zen-grid-flow-item(4,12, false, true);
    }
    &:nth-child(5n+3) {
      @include zen-grid-flow-item(4, 12, false, false);
    }
    &:nth-child(5n+4) {
      @include zen-grid-flow-item(6, 12, false, true);
      @include zen-clear();
    }
    &:nth-child(5n+5) {
      @include zen-grid-flow-item(6, 12, false, false);
    }
    &:nth-child(3n+1) {
      @include zen-clear();
    }
  }
  #site-footer-content {
    @include zen-grid-item(6, 1);
  }
  #cu-footer {
    @include zen-grid-item(6, 7);
  }
  #site-footer {
    margin: 0 auto;
  }
}

@media all and (min-width: 960px) {
  .mobile-menu-toggle {
    display: none;
  }
  #secondary-navigation,
  #navigation,
  #footer-navigation {
    display: block;
  }

  $zen-column-count: 12;

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(8, 5);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(4, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(8, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(4, 9);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(6, 4);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(3, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(3, 10);
    }
  }
  .region.two-columns .block,
  .block-2-col{
    @include zen-float();
    @include zen-grid-flow-item(6,12, false, true);
    &:nth-child(2n+2) {
      @include zen-grid-flow-item(6, 12, false, false);
    }
    &:nth-child(2n+1) {
      @include zen-clear();
    }
  }
  .region.three-columns .block,
  .block-3-col {
    @include zen-float();
    @include zen-grid-flow-item(4,12, false, true);
    &:nth-child(3n+3) {
      @include zen-grid-flow-item(4, 12, false, false);
    }
    &:nth-child(3n+1) {
      @include zen-clear();
    }
  }
  .region.four-columns .block,
  .block-4-col {
    @include zen-float();
    @include zen-grid-flow-item(3,12, false, true);
    &:nth-child(4n+4) {
      @include zen-grid-flow-item(3, 12, false, false);
    }
    &:nth-child(4n+1) {
      @include zen-clear();
    }
  }
  .region.five-columns .block,
  .block-5-col {
    $zen-column-count:  5;
    @include zen-float();
    @include zen-grid-flow-item(1,5, false, true);
    &:nth-child(5n+5) {
      @include zen-grid-flow-item(1, 5, false, false);
    }
    &:nth-child(5n+1) {
      @include zen-clear();
    }
  }
  $zen-column-count:  12;
  .region.six-columns .block,
  .block-6-col {
    @include zen-float();
    @include zen-grid-flow-item(2,12, false, true);
    &:nth-child(6n+6) {
      @include zen-grid-flow-item(2, 12, false, false);
    }
    &:nth-child(6n+1) {
      @include zen-clear();
    }
  }
  #site-footer {
    margin: 0 auto;
  }
  #site-footer-content {
    @include zen-grid-item(8, 1);
  }
  #cu-footer {
    @include zen-grid-item(4, 9);
  }
}


.feature-story-wrapper .content-width-container,
.feature-story-wrapper .region-inner > .block,
.feature-story-wrapper > .block {
    padding:0 20px;
    margin-left: auto;
    margin-right: auto;
}
.feature-story-wrapper {
  #block-system-main {
    padding: 0;
    max-width: none;
  }
}
@media (min-width: 960px) {
  .feature-story-wrapper .content-width-container,
  .feature-story-wrapper .region-inner > .block,
  .feature-story-wrapper > .block {
    max-width: 1200px;
    padding:0 280px 0 20px;
  }
}
