@import "modules/_colors.scss";
@import "modules/_global.scss";

ul#action-menu a {
  line-height: 24px;
  margin: 8px 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 5px;
  font-size: 80%;
  display: inline-block;
  border: none;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  
}

  


.action-blue ul#action-menu a {
  background-color: $blue;
  color:#fff;
  @include shadowtransition;
  @include rgbashadow(0, 0px, 3px, #000000, .24);
  &:hover,
  &:focus {
    background-color:darken($blue, 3%);
    @include rgbashadow(0, 2px, 5px, #000000, .30);
    color:#fff;
  }
  &:active {
    @include rgbashadow(0, 3px, 15px, #000000, .35);
  }
}

.action-gray ul#action-menu a {
  background-color: #444;
  color:#fff;
  @include shadowtransition;
  @include rgbashadow(0, 0px, 3px, #000000, .24);
  &:hover,
  &:focus {
    background-color:darken(#666, 3%);
    @include rgbashadow(0, 2px, 5px, #000000, .30);
    color:#fff;
  }
  &:active {
    @include rgbashadow(0, 3px, 15px, #000000, .35);
  }
}
.action-gold ul#action-menu a {
  background-color: $cugold;
  color:#000;
  @include shadowtransition;
  @include rgbashadow(0, 0px, 3px, #000000, .24);
  &:hover,
  &:focus {
    background-color:lighten($cugold, 3%);
    @include rgbashadow(0, 2px, 5px, #000000, .30);
    color:#000;
  }
  &:active {
    @include rgbashadow(0, 3px, 15px, #000000, .35);
  }
}

