div.addressfield-container-inline > div.form-item {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}

div.addressfield-container-inline.country-GB > div.form-item {
  margin-left: auto;
  margin-right: 0;
}
