$cugold: #cfb87c;
$lightcugold: #f1dba3;

//0075bd
$link_blue: #007BC8;
$dark_link_blue: #006DB1;
$light_link_blue: #76cff7;


//$blue: #0082c3;
$blue: $link_blue;
$green: #a8bd6f;
$yellow: #e3dc6f;
$orange: #deb159;
//$red: #c75137;
$red: #e51c23;
$purple: #735b90;

$white: #f7f7f7;
$gray: #757575;
$light_gray: #f4f4f4;
$dark_gray: #464646;
$black: #202020;

$text_black: #202020;
$text_white: #FFFFFF;
$text_hint: #b9b9b9;
$text_secondary: #727272;

$border_color: #e0e0e0;
//rgba(0,0,0,.12) !important;
$border_color_solid: #e0e0e0;

$bg_light: #f4f4f4;
//$bg_dark1: #353738;
//$bg_dark2: #27292a;

//$bg_dark1: #333;
//$bg_dark2: #232323;

$bg_dark1: #272727;
$bg_dark2: #1e1e1e;
$bg_dark3: #454545;

$real_white: #FFFFFF;
$real_black: #000000;

$light_blue: #e2f1f9;

$iconRed: #C03D23;
$iconGreen: #869839;
$iconSkyBlue: #9BCDD8;
$iconPurple: #453455;
$iconOrange: #B6542A;
$iconBlue: #254B77;
$iconYellow: #D0AB51;
