/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
.field-type-text-with-summary img,
.field-type-text-long img {
  max-width:100%;
}

.field-type-text-with-summary img[style="float:left"],
.field-type-text-long img[style="float:left"] {
  float:left !important;
  margin:0 20px 20px 0;
}
.field-type-text-with-summary img[style="float:right"],
.field-type-text-long img[style="float:right"] {
  float:right !important;
  margin:0 0 20px 20px;
}



#zone-branding {
  min-height: 120px;
}
.branding-data  {
  padding-bottom:20px;
}
.region-branding-inner {
  padding-top:20px;
}
img#logo {
  position:absolute;
  top:0;
  left:0px;
  width:65px;
  height: auto;
}
.site-name-slogan {
  margin-left:75px;
}
h1.site-title,
h2.site-title {
  font-size: 28px;
  margin:13px 0 0 0;
  padding:0;
  line-height: 110%;
}
.site-name-slogan a {
  padding-bottom: 25px;
  position: relative;
  z-index: 5;
}
.two-line-title h1.site-title,
.two-line-title h2.site-title {
  font-size: 25px;
  margin-top:0;
}

h6.site-slogan {
  margin:8px 0 0 0;
  font-size: 12px;
  text-transform: uppercase;
}
.region-search-box {
  padding-top:36px;
}
#block-google-appliance-ga-block-search-form {
  float: right;
  margin-left:0;
}
#block-google-appliance-ga-block-search-form .culinks {
  display: block;
}
.mobile-menu-toggle {
  display: none;
}

/* Secondary MENU NAVIGATION */

#zone-secondary-menu {
  display: block !important;
}

.region-secondary-menu .secondary-navigation  ul li a {
  padding:0 5px;
}


#zone-menu {
  font-size:100%;
  display: block !important;
}
.region-menu .navigation {
  display: block;
}
.region-menu .navigation ul li {
  display: inline;
}
.region-menu .navigation ul li a {
  float:left;
  padding:0 10px;
}

span.home-link-text {
  display: inline-block;
  text-indent: -9999px;
}
#home-link .icon-home {
  display: inline;
}

#mobile-menu {
  display: none;
}

/* PAGER */
.item-list .pager li.pager-item {
  display: block;
}

.container-12 .view-photo-gallery .grid-2  {
  width: auto;
  margin:0;
}
.view-photo-gallery .grid-2 img {
  width:150px;
  height: auto;
  margin:0 20px 20px 0;
}

img.beboulder {
  width:75%;
  height:auto;
  max-width:75%;
}

/* PAGE TITLE IMAGE */

#page-title-image {
  padding:40px 20px;
  padding: 80px 20px 0 20px;
}
  
#page-title-image h1 {
  max-width:60%;
  font-size:220%;
}

/* Section Navigation for Responsive Sites */

#block-menu-block-site-navigation-menus-4 {
  display: none;
}