
#oauthconnector-list-provider tr.oauthconnector-provider-disabled {
  color: #999;
}

#oauthconnector-list-provider td.oauthconnector-provider-warning {
  background-color: #fd4;
}

#oauthconnector-list-provider tr.oauthconnector-provider-disabled  td.oauthconnector-provider-warning {
  background-color: inherit;
}