.magazine-section-wrapper { overflow: hidden; }

h2.field-name-field-issue-section-title { margin-bottom: 20px; }

.issue-contents p.date, .issue-contents .author-meta { display: none; }

.issue-section-contents div.node-view-mode-feature:last-child, .issue-section-contents div.node-view-mode-teaser:last-child { border-bottom: none; }

.field-name-field-article-author { margin-top: 20px; padding-top: 20px; border-top: 1px solid #e7e7e7; }

.field-name-field-article-author .person-view-mode-teaser-content { border-bottom: none; }

@media all and (min-width: 720px) { .issue-cover-image img { width: 100%; height: auto; max-width: 100%; } }
@media all and (max-width: 719px) { .issue-notes { border-bottom: 1px solid #e7e7e7; padding-bottom: 20px; margin-bottom: 20px; } }
.issue-cover-image img { display: block; margin-bottom: 10px; }

.publication-name-wrapper { padding: 20px 20px; background-color: #272727; color: #fff; overflow: hidden; }
.publication-name-wrapper img { float: right; }

#zone-intro img.publication-logo, #intro-wide-wrapper img.publication-logo { width: auto; height: auto; max-width: 100% !important; }

body .page-title-wrapper h1.long-title { font-size: 180%; }

/* Current Issue Block */
h3.current-issue-title { text-align: center; font-size: 100%; margin: 0; padding: 5px 0; }

/* Latest Issues Block */
.issue-view-mode-grid { margin-bottom: 20px; }
.issue-view-mode-grid h3.issue-title { text-align: center; font-size: 100%; }

.current-issue, .latest-issues, .view-issue-archive { overflow: hidden; }
.current-issue img, .latest-issues img, .view-issue-archive img { display: block; margin-bottom: 10px; }

@media all and (max-width: 719px) { .latest-issues { overflow: hidden; }
  .latest-issues:before, .latest-issues:after { content: ""; display: table; }
  .latest-issues:after { clear: both; }
  .latest-issues .issue-view-mode-grid { float: left; padding-left: 20px; padding-right: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; width: 50%; padding-left: 0; padding-right: 20px; margin-right: 20px; }
  .latest-issues .issue-view-mode-grid:nth-child(2n+2) { padding-left: 20px; padding-right: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; width: 50%; padding-left: 0; padding-right: 20px; margin-right: -20px; }
  .latest-issues .issue-view-mode-grid:nth-child(2n+1) { clear: left; }
  .view-issue-archive .view-content { overflow: hidden; }
  .view-issue-archive .view-content:before, .view-issue-archive .view-content:after { content: ""; display: table; }
  .view-issue-archive .view-content:after { clear: both; }
  .view-issue-archive .view-content .archive-issue { float: left; padding-left: 20px; padding-right: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; width: 50%; padding-left: 0; padding-right: 20px; margin-right: 20px; }
  .view-issue-archive .view-content .archive-issue:nth-child(2n+2) { padding-left: 20px; padding-right: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; width: 50%; padding-left: 0; padding-right: 20px; margin-right: -20px; }
  .view-issue-archive .view-content .archive-issue:nth-child(2n+1) { clear: left; } }
@media all and (min-width: 720px) { .latest-issues:before, .latest-issues:after { content: ""; display: table; }
  .latest-issues:after { clear: both; }
  .latest-issues .issue-view-mode-grid { float: left; padding-left: 20px; padding-right: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; width: 25%; padding-left: 0; padding-right: 30px; margin-right: 10px; }
  .latest-issues .issue-view-mode-grid:nth-child(4n+4) { padding-left: 20px; padding-right: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; width: 25%; padding-left: 0; padding-right: 30px; margin-right: -30px; }
  .latest-issues .issue-view-mode-grid:nth-child(4n+1) { clear: left; }
  .view-issue-archive .view-content:before, .view-issue-archive .view-content:after { content: ""; display: table; }
  .view-issue-archive .view-content:after { clear: both; }
  .view-issue-archive .view-content .archive-issue { float: left; padding-left: 20px; padding-right: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; width: 25%; padding-left: 0; padding-right: 30px; margin-right: 10px; }
  .view-issue-archive .view-content .archive-issue:nth-child(4n+4) { padding-left: 20px; padding-right: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; width: 25%; padding-left: 0; padding-right: 30px; margin-right: -30px; }
  .view-issue-archive .view-content .archive-issue:nth-child(4n+1) { clear: left; } }
.article-grid-more-link, .issue-archive-link { text-align: center; }
.article-grid-more-link a, .issue-archive-link a { border: 1px solid #007BC8; padding: 5px; display: inline-block; }

.issue-notes-content .region-content-sidebar-right, .issue-notes-content .region-content-sidebar-left { margin: 0; padding: 0; float: none; clear: both; width: auto; }

.story-issue img { float: left; margin: 0 10px 10px 0; }
.story-issue .story-issue-link { overflow: hidden; }

.related-articles .related-article { margin-bottom: 20px; }
.related-articles .related-article h3 { font-size: 100%; margin-bottom: 5px; }

.issue-summary .more-link { white-space: nowrap; }

.issue-summary .more-link:before { content: " "; }
