@mixin clearfix {
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
  &:before,
  &.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  
  &:after {
    clear: both;
  }
  
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;
}

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded($side, $radius) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

@mixin gradient-vertical($from, $to) {
  background: $from;
  background: -moz-linear-gradient(top,  $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: -ms-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(to bottom, $from 0%,$to 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#{$from}', endColorstr='#{$to}');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}')";
}

@mixin action-links {
  ul.action-links {
    list-style: none;
    margin: 1.5em 0 2em 0.5em;

    li a {
      @include gradient-vertical(#FFFFFF, #DDDDDD);
      @include rounded-corners(11px);
      border-color: #DDDDDD #BBBBBB #999999;
      border-style: solid;
      border-width: 1px;
      color: #333333;
      font-size: 12px;
      font-weight: bold;
      padding: 3px 10px 4px;
      text-decoration: none;
      text-shadow: 0 1px 1px #FFFFFF;
    }
  }
}
