// Recline css overrides.
.recline-pager .pagination {
  li {
    vertical-align: middle;
    a {
      line-height: 1em;
      padding: 0 10px;
      &.btn {
        line-height: 32px;
      }
    }
  }
  input {
	  height: 20px;
	  font-size: .8em;
  }
}
.recline-data-explorer {
  .form-control {
    border-color: #ccc;
  }
  .btn {
  	border:1px solid $smoke;
  	font-size: 14px;
  	padding: 0px 12px;
    line-height: 32px;
  }
}
.dropdown-menu.slick-contextmenu {
  background: #fff;
  li {
    padding-left: 5px;
    padding-right: 5px;
  }
}
