body { background-color: #333; }

.layout-wide #backstretch { display: none; }

.layout-boxed { background-color: #111; }
.layout-boxed .page-wrapper { width: 960px; margin: 20px auto; -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 80px rgba(0, 0, 0, 0.5); box-shadow: 0 0 80px rgba(0, 0, 0, 0.5); }

.layout-boxed.is-responsive .page-wrapper { width: auto; max-width: 960px; }

#zone-secondary-menu { background-color: #333; color: #ccc; font-weight: 600; }
#zone-secondary-menu a { display: inline-block; color: #ccc; }
#zone-secondary-menu a:hover, #zone-secondary-menu a:focus, #zone-secondary-menu a.active, #zone-secondary-menu a.active-trail { color: #cfb87c; }

#zone-menu { background-color: #272727; }
#zone-menu a { color: #ccc; font-weight: 600; }
#zone-menu a.active, #zone-menu a.active-trail, #zone-menu a:hover, #zone-menu a:focus { color: #cfb87c; }
#zone-menu a#home-link { background-color: transparent; color: #ccc; }
#zone-menu #region-menu { width: auto; margin: 0 10px; float: none; display: block; }

#section-content { background-color: #f1f1f1; }

#zone-intro { background-color: #fff; margin: 0 auto; width: 960px; }

.is-reponsive #zone-intro { width: 100%; max-width: 960px; }

#zone-slider, #zone-content, #zone-after-content, #zone-after-content-2 { background-color: #fff; }

@media screen and (min-width: 960px) { .page-title-image-wrapper .container-content { max-width: 1000px; } }
#section-footer { background-color: #333; color: #fff; }
#section-footer a { color: #cfb87c; }
#section-footer a:hover, #section-footer a:focus { color: #fff; }

#zone-footer { background-color: #222; padding-top: 20px; }

#footer-links-wrapper, .footer-menu-gray, .footer-menu-gold { background-color: transparent; padding: 0; }

.footer-menu-gray #footer-links { padding: 10px 0; background-color: #111; }

.footer-menu-gold #footer-links { padding: 10px 0; background-color: #cfb87c; }

#block-menu-block-site-navigation-menus-1 .menu-block-wrapper, #block-menu-block-site-navigation-menus-2 .menu-block-wrapper, #block-menu-block-site-navigation-menus-3 .menu-block-wrapper, #section-navigation .menu-block-wrapper { font-weight: 500; border-bottom: 1px solid #e7e7e7; }
#block-menu-block-site-navigation-menus-1 ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu a, #section-navigation ul.menu a { padding: 10px; border: 1px solid #e7e7e7; margin-bottom: -1px; color: #656565; line-height: 120%; }
#block-menu-block-site-navigation-menus-1 ul.menu a:hover, #block-menu-block-site-navigation-menus-1 ul.menu a:focus, #block-menu-block-site-navigation-menus-2 ul.menu a:hover, #block-menu-block-site-navigation-menus-2 ul.menu a:focus, #block-menu-block-site-navigation-menus-3 ul.menu a:hover, #block-menu-block-site-navigation-menus-3 ul.menu a:focus, #section-navigation ul.menu a:hover, #section-navigation ul.menu a:focus { background-color: #e7e7e7; color: #202020; }
#block-menu-block-site-navigation-menus-1 ul.menu a.active-trail, #block-menu-block-site-navigation-menus-2 ul.menu a.active-trail, #block-menu-block-site-navigation-menus-3 ul.menu a.active-trail, #section-navigation ul.menu a.active-trail { border-bottom: none; }
#block-menu-block-site-navigation-menus-1 ul.menu a.active, #block-menu-block-site-navigation-menus-2 ul.menu a.active, #block-menu-block-site-navigation-menus-3 ul.menu a.active, #section-navigation ul.menu a.active { color: #cfb87c; background-color: #262626; font-weight: 500 !important; }
#block-menu-block-site-navigation-menus-1 li.active-trail, #block-menu-block-site-navigation-menus-2 li.active-trail, #block-menu-block-site-navigation-menus-3 li.active-trail, #section-navigation li.active-trail { border-left: 3px solid #262626; }
#block-menu-block-site-navigation-menus-1 li.active-trail a, #block-menu-block-site-navigation-menus-2 li.active-trail a, #block-menu-block-site-navigation-menus-3 li.active-trail a, #section-navigation li.active-trail a { border-left-color: #262626; }
#block-menu-block-site-navigation-menus-1 li.active-trail li, #block-menu-block-site-navigation-menus-2 li.active-trail li, #block-menu-block-site-navigation-menus-3 li.active-trail li, #section-navigation li.active-trail li { border: none; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu a, #section-navigation ul.menu ul.menu a { padding-left: 20px; font-size: 90%; padding-top: 7px; padding-bottom: 7px; border-top: none; border-bottom: none; font-weight: normal; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu a { padding-left: 30px; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu ul.menu a { padding-left: 40px; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu ul.menu ul.menu a { padding-left: 50px; }
#block-menu-block-site-navigation-menus-1 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-2 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a, #block-menu-block-site-navigation-menus-3 ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a, #section-navigation ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a { padding-left: 60px; }

#block-menu-block-site-navigation-menus-3 h2.block-title { font-size: 100%; line-height: 120%; padding: 0; margin: 0; }
#block-menu-block-site-navigation-menus-3 h2.block-title a { display: block; padding: 10px; background-color: #262626; color: #cfb87c; font-weight: 600; }
