.shortcode-help {
  padding: 20px;
  border:1px solid #e5e5e5;

}
.shortcode-desc {

  margin-bottom: 10px;
}
p.shortcode-intro {
  font-size: 85%;
  font-weight: bold;
  margin:10px 0 0 0;
}
p.shortcode-page {
  margin:10px 0;
}
.shortcode-options {
  color:#999;
}
/* BLOCKQUOTE */

.blockquote-right {
  float:right;
  margin-left: 20px;
  width: 50%;
}
.blockquote-left {
  float:left;
  margin-right: 20px;
  margin-left: 0;
  width: 50%;
}
.blockquote-dark {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-left-color: #111;
  border-right-color: #111;
}
.blockquote-light {
  background-color: #f3f3f3;
  padding: 20px;
}
blockquote.blockquote-icon {
  position:relative;
  padding-left:100px;
  border:none;
  margin-left: 0;
  min-height: 60px;
}
blockquote.blockquote-icon > i.blockquote-icon {
  font-size:400%;
  position:absolute;
  top:0;
  left:0;
  color:#e0e0e0;
}
.blockquote-serif {
  font-family: Georgia, Times, serif;
  line-height: 150%;
}

.icon-size-regular {
  font-size: 100%;
}
.icon-size-medium{
  font-size: 150%;
}
.icon-size-large{
  font-size: 300%;
}
.icon-size-xlarge {
  font-size: 400%;
}
.icon-color-black,
a:link .icon-color-black,
a:visited .icon-color-black,
a:hover .icon-color-black {
  color: #000;
  border-color: #000;
}

.icon-color-white,
a:link .icon-color-white,
a:visited .icon-color-white,
a:hover .icon-color-white {
  color: #fff;
  border-color: #fff;
}

.icon-color-dark-gray,
a:link .icon-color-dark-gray,
a:visited .icon-color-dark-gray,
a:hover .icon-color-dark-gray {
  color: #444;
  border-color: #444;
}

.icon-color-gray,
a:link .icon-color-gray,
a:visited .icon-color-gray,
a:hover .icon-color-gray {
  color: #808080;
  border-color: #808080;
}

.icon-color-light-gray,
a:link .icon-color-light-gray,
a:visited .icon-color-light-gray,
a:hover .icon-color-light-gray {
  color: #ccc;
  border-color: #ccc;
}

.icon-color-gold,
a:link .icon-color-gold,
a:visited .icon-color-gold,
a:hover .icon-color-gold {
  color: #cfb87c;
  border-color: #cfb87c;
}

/* icon wrapper */
.icon-wrapper-square {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  padding: 0px;
}
.icon-wrapper-rounded {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  padding: 0px;
}
.icon-wrapper-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  padding: 0px;
}
.icon-wrapper-ring {
  border-width: 1px;
  border-style: solid;
}
.icon-color-black.icon-wrapper-square,
.icon-color-black.icon-wrapper-rounded,
.icon-color-black.icon-wrapper-circle,
a:link .icon-color-black.icon-wrapper-square,
a:link .icon-color-black.icon-wrapper-rounded,
a:link .icon-color-black.icon-wrapper-circle,
a:visited .icon-color-black.icon-wrapper-square,
a:visited .icon-color-black.icon-wrapper-rounded,
a:visited .icon-color-black.icon-wrapper-circle,
a:hover .icon-color-black.icon-wrapper-square,
a:hover .icon-color-black.icon-wrapper-rounded,
a:hover .icon-color-black.icon-wrapper-circle {
  background-color: #000;
  color:#fff;
}
.icon-color-white.icon-wrapper-square,
.icon-color-white.icon-wrapper-rounded,
.icon-color-white.icon-wrapper-circle,
a:link .icon-color-white.icon-wrapper-square,
a:link .icon-color-white.icon-wrapper-rounded,
a:link .icon-color-white.icon-wrapper-circle,
a:visited .icon-color-white.icon-wrapper-square,
a:visited .icon-color-white.icon-wrapper-rounded,
a:visited .icon-color-white.icon-wrapper-circle,
a:hover .icon-color-white.icon-wrapper-square,
a:hover .icon-color-white.icon-wrapper-rounded,
a:hover .icon-color-white.icon-wrapper-circle {
  background-color: #fff;
  color:#000;
}
.icon-color-dark-gray.icon-wrapper-square,
.icon-color-dark-gray.icon-wrapper-rounded,
.icon-color-dark-gray.icon-wrapper-circle,
a:link .icon-color-dark-gray.icon-wrapper-square,
a:link .icon-color-dark-gray.icon-wrapper-rounded,
a:link .icon-color-dark-gray.icon-wrapper-circle ,
a:visited .icon-color-dark-gray.icon-wrapper-square,
a:visited .icon-color-dark-gray.icon-wrapper-rounded,
a:visited .icon-color-dark-gray.icon-wrapper-circle ,
a:hover .icon-color-dark-gray.icon-wrapper-square,
a:hover .icon-color-dark-gray.icon-wrapper-rounded,
a:hover .icon-color-dark-gray.icon-wrapper-circle  {
  background-color: #444;
  color:#fff;
}
.icon-color-gray.icon-wrapper-square,
.icon-color-gray.icon-wrapper-rounded,
.icon-color-gray.icon-wrapper-circle,
a:link .icon-color-gray.icon-wrapper-square,
a:link .icon-color-gray.icon-wrapper-rounded,
a:link .icon-color-gray.icon-wrapper-circle,
a:visited .icon-color-gray.icon-wrapper-square,
a:visited .icon-color-gray.icon-wrapper-rounded,
a:visited .icon-color-gray.icon-wrapper-circle,
a:hover .icon-color-gray.icon-wrapper-square,
a:hover .icon-color-gray.icon-wrapper-rounded,
a:hover .icon-color-gray.icon-wrapper-circle {
  background-color: #808080;
  color:#fff;
}
.icon-color-light-gray.icon-wrapper-square,
.icon-color-light-gray.icon-wrapper-rounded,
.icon-color-light-gray.icon-wrapper-circle,
a:link .icon-color-light-gray.icon-wrapper-square,
a:link .icon-color-light-gray.icon-wrapper-rounded,
a:link .icon-color-light-gray.icon-wrapper-circle,
a:visited .icon-color-light-gray.icon-wrapper-square,
a:visited .icon-color-light-gray.icon-wrapper-rounded,
a:visited .icon-color-light-gray.icon-wrapper-circle,
a:hover .icon-color-light-gray.icon-wrapper-square,
a:hover .icon-color-light-gray.icon-wrapper-rounded,
a:hover .icon-color-light-gray.icon-wrapper-circle {
  background-color: #ccc;
  color:#000;
}
.icon-color-gold.icon-wrapper-square,
.icon-color-gold.icon-wrapper-rounded,
.icon-color-gold.icon-wrapper-circle,
a:link .icon-color-gold.icon-wrapper-square,
a:link .icon-color-gold.icon-wrapper-rounded,
a:link .icon-color-gold.icon-wrapper-circle,
a:visited .icon-color-gold.icon-wrapper-square,
a:visited .icon-color-gold.icon-wrapper-rounded,
a:visited .icon-color-gold.icon-wrapper-circle,
a:hover .icon-color-gold.icon-wrapper-square,
a:hover .icon-color-gold.icon-wrapper-rounded,
a:hover .icon-color-gold.icon-wrapper-circle {
  background-color: #cfb87c;
  color:#000;
}


.icon-wrapper-square.fa-lg,
.icon-wrapper-rounded.fa-lg,
.icon-wrapper-circle.fa-lg,
.icon-wrapper-ring.fa-lg {
  width:40px;
  height:40px;
  line-height:40px;
}
.icon-wrapper-square.fa-2x,
.icon-wrapper-rounded.fa-2x,
.icon-wrapper-circle.fa-2x,
.icon-wrapper-ring.fa-2x {
  width:60px;
  height:60px;
  line-height:60px;
}
.icon-wrapper-square.fa-3x,
.icon-wrapper-rounded.fa-3x,
.icon-wrapper-circle.fa-3x,
.icon-wrapper-ring.fa-3x {
  width:90px;
  height:90px;
  line-height:90px;
}
.icon-wrapper-square.fa-4x,
.icon-wrapper-rounded.fa-4x,
.icon-wrapper-circle.fa-4x,
.icon-wrapper-ring.fa-4x {
  width:120px;
  height:120px;
  line-height:120px;
}
.icon-wrapper-square.fa-5x,
.icon-wrapper-rounded.fa-5x,
.icon-wrapper-circle.fa-5x,
.icon-wrapper-ring.fa-5x {
  width:150px;
  height:150px;
  line-height:150px;
}


.cu-box p:last-child {
  margin-bottom: none;
}
.anchors {
  display: none;
}
.auto-anchor ul,
.auto-anchor ul li,
.field-type-text-with-summary .auto-anchor ul,
.field-type-text-with-summary .auto-anchor ul li {
  margin: 0;
  padding: 0;
  list-style: none !important;
  list-style-image: none !important;
}
.auto-anchor ul {
  margin:10px 0 0;
}
.auto-anchor ul li,
.field-type-text-with-summary .auto-anchor ul li {
  margin: 10px 0;
}
.auto-anchor .arrow {
  color:#858585;
}
iframe.twitter-tweet-rendered {
  width:95% !important;
  min-width: 180px !important;
}


.small-expand-title i.fa,
.tooltip-expand-title i.fa {
  display: inline;
}

span.tooltip-expand-set {
  position: relative;
  display: inline;
}
.tooltip-expand-content {
    background: #111;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    left: 0;

    position: absolute;
    z-index: 98;
    width: 240px;
    display: block;
}
.tooltip-expand-content a {
  color:#cfb87c;
}
.tooltip-expand-content:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
  bottom: -20px;
  left: 20px;
}
.tooltip-inner {
  position: relative;
  padding:15px 20px 15px 15px;
  display:block;
}
a.close-tip:link,
a.close-tip:visited {
  position: absolute;
  top:5px;
  right:5px;
  line-height: 100%;
  color:#858585;
}
a.small-expand-title:focus,
a.tooltip-expand-title:focus,
a.expand-title:focus {
  outline-offset: -1px;
}

.image-caption {
  font-size: 80%;
  line-height: 120%;
  display: table;
  margin-bottom: 20px;
}
@media screen and (min-width:540px) {
  .image-caption-right {
    float: right;
    margin-left: 20px;
    max-width:50%;
  }
  .image-caption-left {
    float: left;
    margin-right: 20px;
    max-width:50%;
  }
}
.image-caption p {
  display: table-caption;
  caption-side: bottom;
  padding: 5px 10px;
  background: #f0f0f0;
  margin: 0;
}
div.image-caption img {
  display: block;
}
div.image-caption  p:first-child {
  display: block;
  margin: 0 !important;
  padding: 0;
}
.image-caption p:last-child {
  margin-bottom: 0;
}
.image-full-width .image-caption {
  background-color: #f0f0f0;
  display: block;
}
.layout-responsive .image-full-width .image-caption p:nth-child(n+2) {
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding:5px 20px;
}
.layout-fixed .image-full-width .image-caption p:nth-child(n+2) {
  max-width:960px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px 20px;
}
.image-caption img {
  display: block;
  float: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
}

/* Callout shortcode CSS */
#zone-wide-2 .feature-story-wrapper .feature-layout-callout img {
  max-width: 100% !important;
}
.feature-layout-callout {
  width:240px;
  float: right;
  margin: 0 0 40px 40px;
}
.feature-layout-callout img.image-square-thumbnail {
  width:110px;
  height: auto;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}
.feature-layout-callout,
.feature-layout-callout-large,
.feature-layout-callout-xlarge {
  width:auto;
  float: none;
  margin: 40px 0 20px;
}
@media all and (min-width: 720px) and (max-width: 959px) {
  .feature-layout-callout {
    width:240px;
    float: right;
    margin: 0 0 40px 40px;
    clear:right;
  }
  .feature-layout-callout-large {
    width:360px;
    float: right;
    margin: 0 0 40px 40px;
  }
  .feature-layout-callout-xlarge {
    width:480px;
    float: right;
    margin: 0 0 40px 40px;
  }
}
@media (min-width: 960px) {
  .feature-layout-callout {
    width:240px;
    float: right;
    margin: 0 0 40px 40px;
  }
  .feature-layout-callout-large {
    margin: 0 0 40px 40px;
    width:480px;
    float: right;
  }
  .feature-layout-callout-xlarge {
    margin: 0 0 40px 40px;
    width:720px;
    float: right;
  }
  .feature-story-wrapper .feature-layout-callout,
  .feature-story-wrapper .feature-layout-callout-large,
  .feature-story-wrapper .feature-layout-callout-xlarge  {
    margin-right:-260px;
  }
}
.feature-layout-callout .content-width-container {
  max-width: none;
  padding: 0;
  margin: 0;
  width:auto;
}

/* COLUMNLIST */
@media screen and (min-width: 480px) {
  .column-list ul,
  .column-list ol {
    list-style: none;
    list-style-image: none;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    margin: 0 0 20px 0;
    padding: 0;
  }
  .column-list ul li,
  .column-list ol li {
    display: inline-block;
    width:100%;
    list-style: none;
    list-style-image: none;
    margin:0 0 10px 0;
    padding: 0;
  }
  .column-list-2 ul,
  .column-list-2 ol {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
  .column-list-3 ul,
  .column-list-3 ol {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }
  .column-list-4 ul,
  .column-list-4 ol {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}
@media screen and (min-width: 960px) {
  .column-list-4 ul,
  .column-list-4 ol {
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
  }
}

/* Masonry Images */
.masonry-images { /* Masonry container */
    column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
}
.masonry-columns-1 {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
}
.masonry-columns-2 {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}
.masonry-columns-3 {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
}
.masonry-columns-4 {
  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;
}
.masonry-columns-5 {
  column-count: 5;
  -webkit-column-count: 5;
  -moz-column-count: 5;
}
.masonry-columns-6 {
  column-count: 6;
  -webkit-column-count: 6;
  -moz-column-count: 6;
}
.masonry-images a {
  display: block;
  margin: 0;
  padding: 0;
}
.masonry-images img {
  display: inline-block;
  margin: 0 0 20px;
  padding: 0;
  float: none;
  width: 100%;
  height:auto;
}
.masonry-images p {
  margin:0;
  padding:0;
}

.background-section {
  clear:both;
  margin: 0 -2000px 20px;
  padding: 40px 2000px 20px;
  background-color: #f2f2f2;
}

/* Close Margin */

.margin-close {
  margin-top: -20px;
  display: block;
}
