table.cu-block-row-table-example {
  width:200px;
  td {
    border:3px solid #fff;
  }
}
/* contextual links offset */
.block-row-wrapper .block .contextual-links-wrapper {
  top:30px;
}

.block-bean-type-block-row {
  clear: both;
}

.block-row-column .block {
  margin-bottom: 40px;
}
// IE 10/11 flexbox/box model bug
.block-row-column-inner {
  padding:0 20px;
}
.block-row-inner {
  display: flex;
  flex-direction: column;
  margin:0 -20px;
  flex-wrap: wrap;
  .block-row-column  {
    .block {

      .block-inner {

      }
    }
  }
}

@media screen and (min-width:768px) {
  .block-row-inner {
    flex-direction: row;
  }
  .block-row-match-height {
    display: flex;
    flex-direction: row;
    margin:0 -20px;
    .block-row-column,
    .block-row-column-inner  {
      display: flex;
      justify-content: stretch;
      flex-direction: column;
      flex-grow:1;
      .block:only-child {
        flex-grow:1;
        display: flex;
        justify-content: stretch;
        flex-direction: column;
      }
      .block {

        .block-inner {
          flex-grow:1;
          display: flex;
          justify-content: stretch;
          flex-direction: column;
        }
      }
    }
  }
}

/* Default Widths */
.block-row-inner {
  .block-row-column {
    width:100%;
  }
}

@media screen and (min-width:768px) {
  /* 2 columns */
  .block-row-columns-2 {
    .block-row-column {
      // width:50%;
      flex-basis: 50%;
    }
  }
  .block-row-distribution-right.block-row-columns-2,
  .block-row-distribution-left.block-row-columns-2 {
    .block-row-column {
      //width:33.3333%;
      flex-basis: 33.3333%;
    }
  }
  .block-row-distribution-left.block-row-columns-2 {
    .block-row-column-1 {
      //width:66.6666%;
      flex-grow: 2;
    }
  }
  .block-row-distribution-right.block-row-columns-2 {
    .block-row-column-2 {
      //width:66.6666%;
      flex-grow: 2;
    }
  }

  /* 3 Columns */
  .block-row-columns-3 {
    .block-row-column {
      //width:33.3333%;
      flex-basis: 33.3333%;
    }
  }
  .block-row-distribution-right.block-row-columns-3,
  .block-row-distribution-left.block-row-columns-3 {
    .block-row-column {
      // width:25%;
      flex-basis: 25%;
    }
  }
  .block-row-distribution-left.block-row-columns-3 {
    .block-row-column-1 {
      // width:50%;
      flex-grow: 2;
    }
  }
  .block-row-distribution-right.block-row-columns-3 {
    .block-row-column-3 {
      // width:50%;
      flex-grow: 2;
    }
  }

  /* 4 Columns */
  .block-row-columns-4 {
    flex-wrap: wrap;
    .block-row-column {
      // width:50%;
      flex-basis: 25%;
    }
  }
  .block-row-distribution-right.block-row-columns-4,
  .block-row-distribution-left.block-row-columns-4 {
    .block-row-column {
      // width:50%;
      flex-basis: 33.3333%;
      flex-grow: 1;
    }
  }
  .block-row-distribution-left.block-row-columns-4 {
    .block-row-column-1 {
      // width:50%;
      flex-basis: 50%;
      flex-grow: 2;
    }
  }
  .block-row-distribution-right.block-row-columns-4 {
    .block-row-column-4 {
      // width:50%;
      flex-basis: 50%;
      flex-grow: 2;
    }
  }

  /* 5 Columns */
  .block-row-columns-5 {
    flex-wrap: wrap;
    .block-row-column {
      // width:33.3333%;
      flex-basis:20%;
      flex-grow: 0;
    }
  }
  .block-row-distribution-right.block-row-columns-5,
  .block-row-distribution-left.block-row-columns-5 {
    .block-row-column {
      // width:33.3333%;
      flex-basis: 25%;
      flex-grow: 1;
    }
  }
  .block-row-distribution-left.block-row-columns-5 {
    .block-row-column-1 {
      // width:33.3333%;
      flex-basis: 50%;
      flex-grow: 2;
    }
  }
  .block-row-distribution-right.block-row-columns-5 {
    .block-row-column-5 {
      // width:33.3333%;
      flex-basis: 50%;
      flex-grow: 2;
    }
  }

  /* 6 Columns */
  .block-row-columns-6 {
    flex-wrap: wrap;
    .block-row-column {
      // width:33.3333%;
      flex-basis: 16.6666%;
      flex-grow: 0;
    }
  }
  .block-row-distribution-right.block-row-columns-6,
  .block-row-distribution-left.block-row-columns-6 {
    .block-row-column {
      // width:14.2857%;
      flex-basis: 25%;
      flex-grow: 1;
    }
  }
  .block-row-distribution-left.block-row-columns-6 {
    .block-row-column-1 {
      // width:28.5714%;
      flex-basis: 50%;
      flex-grow: 2;
    }
  }
  .block-row-distribution-right.block-row-columns-6 {
    .block-row-column-6 {
      // width:28.5714%;
      flex-basis: 50%;
      flex-grow: 2;
    }
  }
}

@media screen and (min-width:960px) {
  /* 2 columns */
  .block-row-columns-2 {
    .block-row-column {
      // width:50%;
      flex-basis: 50%;
    }
  }
  .block-row-distribution-right.block-row-columns-2,
  .block-row-distribution-left.block-row-columns-2 {
    .block-row-column {
      //width:33.3333%;
      flex-basis: 33.3333%;
      flex-grow: 0;
    }
  }
  .block-row-distribution-left.block-row-columns-2 {
    .block-row-column-1 {
      // width:66.6666%;
      flex-grow: 2;
    }
  }
  .block-row-distribution-right.block-row-columns-2 {
    .block-row-column-2 {
      // width:66.6666%;
      flex-grow: 2;
    }
  }

  /* 3 Columns */
  .block-row-columns-3 {
    .block-row-column {
      //width:33.3333%;
      flex-basis: 33.3333%;
    }
  }
  .block-row-distribution-right.block-row-columns-3,
  .block-row-distribution-left.block-row-columns-3 {
    .block-row-column {
      // width:25%;
      flex-basis: 25%;
      flex-grow: 0;
    }
  }
  .block-row-distribution-left.block-row-columns-3 {
    .block-row-column-1 {
      // width:50%;
      flex-grow: 2;
    }
  }
  .block-row-distribution-right.block-row-columns-3 {
    .block-row-column-3 {
      // width:50%;
      flex-grow: 2;
    }
  }

  /* 4 Columns */
  .block-row-columns-4 {
    .block-row-column {
      // width:25%;
      flex-basis: 25%;
      flex-grow: 0;
    }
  }
  .block-row-distribution-right.block-row-columns-4,
  .block-row-distribution-left.block-row-columns-4 {
    .block-row-column {
      // width:20%;
      flex-basis: 20%;
      flex-grow: 0;
    }
  }
  .block-row-distribution-left.block-row-columns-4 {
    .block-row-column-1 {
      // width:40%;
      flex-grow: 2;
    }
  }
  .block-row-distribution-right.block-row-columns-4 {
    .block-row-column-4 {
      // width:40%;
      flex-grow: 2;
    }
  }

  /* 5 Columns */
  .block-row-columns-5 {
    .block-row-column {
      // width:20%;
      flex-basis: 20%;
      flex-grow: 0;
    }
  }
  .block-row-distribution-right.block-row-columns-5,
  .block-row-distribution-left.block-row-columns-5 {
    .block-row-column {
      // width:16.6666%;
      flex-basis:16.6666%;
      flex-grow: 0;
    }
  }
  .block-row-distribution-left.block-row-columns-5 {
    .block-row-column-1 {
      // width:33.3333%;
      flex-grow: 2;
    }
  }
  .block-row-distribution-right.block-row-columns-5 {
    .block-row-column-5 {
      // width:33.3333%;
      flex-grow: 2;
    }
  }

  /* 6 Columns */
  .block-row-columns-6 {
    .block-row-column {
      // width:16.6666%;
      flex-basis: 16.666%;
    }
  }
  .block-row-distribution-right.block-row-columns-6,
  .block-row-distribution-left.block-row-columns-6 {
    .block-row-column {
      // width:14.2857%;
      flex-basis: 14.2857%;
      flex-grow: 0;
    }
  }
  .block-row-distribution-left.block-row-columns-6 {
    .block-row-column-1 {
      // width:28.5714%;
      flex-grow: 2;
    }
  }
  .block-row-distribution-right.block-row-columns-6 {
    .block-row-column-6 {
      // width:28.5714%;
      flex-grow: 2;
    }
  }
}
