@import "zen";
$zen-column-count:  4;
$zen-gutter-width:  40px;
$alpha-gutter: 0px;
$omega-gutter: 0px;

.block-row-wrapper {
  @include zen-grid-container();
  max-width:920px;
}

.block-row-columns-3 {
  $zen-column-count:  3;
  .block-row-column-1 {
    @include zen-grid-item(1,1);
  }
  .block-row-column-2 {
    @include zen-grid-item(1,2);
  }
  .block-row-column-3 {
    @include zen-grid-item(1,3);
  }
}

