@CHARSET "UTF-8";

td.themekey-properties-row div {
  float: left;
  margin: 0 10px 0 0;
}

tr.themekey-fade-out .themekey-fadeable{
  opacity: 0.4;
}

#themekey-properties tr.themekey-top-level {
  border-style: solid;
  border-top-width: 6px;
}

#themekey-properties tr {
  border-style: solid;
  border-left-width: 3px;
  border-right-width: 3px;
}

tr.themekey-top-level td {
  padding-top: 2.5em;
}
