
on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight UTC
  push:
    branches:
      - SITE-2496-ii # Remove this before merge
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: write

jobs:
  check-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq wget curl
      - name: Check and Update Module
        run: .github/scripts/update_tag1_d7es.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}