/* Move to dkan global stylesheet*/
.file-widget input.btn {
	margin-left: 10px;
}
/* Move to dkan global stylesheet*/

.field-name-field-ve-settings {
  display: none;
}
#chart-with-controls h4 {
  font-weight: normal;
}
#chart-with-controls.col-md-12 {
  padding: 0;
}
#chart-with-controls .tab-content {
  overflow: hidden;
}
#iframe-shell h2 {
  display: none;
}
#iframe-shell {
  overflow: hidden;
  height: 100%;
}

body, html {
  height: 100% !important;
}

svg {
  width: auto;
  height: auto;
  display: block;
}

#ve-chart-form .pane-content{
  overflow: auto;
  padding: 4px;
}

#ve-chart-form .stages li {
  width: 25%;
}

.nvtooltip table * {
  border: none;
}

#chart-selector {
  width: 100%;
  overflow: auto;
  padding: 0 0 15px;
}
#chart-selector button{
  height: 180px;
  width: 260px;
  background-size: 260px 180px;
  float: left;
  list-style: none;
  margin-right: 15px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.relative {
  position: relative;
}

/**
 * Panels
 */
.expander {
  cursor: pointer;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.expander span {
  position: absolute;
  right: 13px;
}

.expansible {
  margin: 10px;
}

.form-panel {
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.pad {
  padding: 15px;
}
.form-panel .form-group:last-child{
  margin-bottom: 0px;
}
/**
 * Filters
 */
#filter-editor .form-stacked{
  margin-bottom: 10px;
}

#query-editor .btn {
  padding: 5px 12px;
  border-right: none;
  height: 34px;
  margin: 4px 0;
}
#ve-chart-form input.form-control {
  margin: 4px 1em 0 0;
}
#control_chart_series_chosen {
  margin-bottom: 1em;
}

#pager li.prev.action-pagination-update a {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#pager li.next.action-pagination-update a {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px
}

#pager li.page-range a {
  padding: 3px;
  height: 35px;
}

#pager .pagination {
  margin: 0px 0;
}

/**
 * Charts thumbnails
 */
#chart-selector button:hover {
  border-color: #0088cc;
  cursor: pointer;
}

#chart-selector button.selected {
  border-color: #0088cc;
}

#chart-selector .discreteBarChart {
  background-image: url('img/discretebar.png');
}

#chart-selector .multiBarChart {
  background-image: url('img/stackedbar.png');
}

#chart-selector .multiBarHorizontalChart {
  background-image: url('img/horizontalbar.png');
}

#chart-selector .stackedAreaChart {
  background-image: url('img/stackedarea.png');
}

#chart-selector .pieChart {
  background-image: url('img/pie.png');
}

#chart-selector .lineChart {
  background-image: url('img/line.png');
}

#chart-selector .lineWithFocusChart {
  background-image: url('img/linewithfocus.png');
}

#chart-selector .scatterChart {
  background-image: url('img/scatter.png');
}

#chart-selector .linePlusBarChart {
  background-image: url('img/lineplusbar.png');
}

.filter fieldset {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px 0;
  padding: 40px 8px 8px;
  position: relative;
}

.filter fieldset legend,
.filter-term label {
  display: block;
  max-width: 100%;
  margin: 5px 0 0;
  font-size: 1em;
  font-weight: bold;
  background: #DDDDDD;
  padding: 4px 10px;
  border-radius: 4px 4px 0 0;
}
.filter fieldset legend {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 6px 10px;
  margin: 0;
}
.filters .form-stacked button {
  margin-top: 10px;
}
.filters .form-stacked button#add-filter-btn {
  margin-top: 0;
}
.filters .filter-term input {
  border-radius: 0 0 4px 4px
}

.data-details { display: table; }
.data-results { 
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
}

/* Help Pop-overs */
.fa-question-circle-o:before {
  font-family: 'FontAwesome';
  content: "\f29c";
}
.help {
  padding: 0 8px;
}
#query-editor .help {
  display: table-cell;
  vertical-align: middle;
}
#filter-editor .help {
  display: inline;
}
