.admin-list {
  dt, dd{
    display:inline-block;
    float:none;
    vertical-align: top;
  }
}
.views-edit-view {
	.action-list {
		input.btn,
		input.btn:active,
		input.btn:focus,
		input.btn:hover, 
		input[type="submit"]:hover {
			background: inherit;
			border: none;
			color: inherit;
		}
	}
	.footer {
		background: inherit;
	}
}

.modal-content {
	.panels-root-content-box a.btn {
		white-space: normal;
	}
	.panel-title {
		padding-right: 55px;
	}
}

.views-displays .secondary .open > a:hover {
	color: #666;
}
input.form-submit.features-refresh-button {
	background: $brand-primary;
}