@media all and (max-width:768px) {
  .node-dataset .resource-list li {
    padding-right: 0;
    span.links {
      position: relative;
      top: auto;
      right: auto;
      margin: 10px 0;
      display: block;
      padding: 0;
    }
    a.btn {
      margin: 0 5px 10px 0;
    }
  }
}

.stages li {
  font-size: 14px;
}
