//
// Styles for Forms
// --------------------------------------------------

input[type="submit"],
.btn-primary,
.btn.btn-primary {
  @extend %button;
}
input.use-ajax-submit {
  margin-right: 10px;
}
button.btn,
.form-control {
  line-height: 1.4em;
  height: 36px;
}

select.form-control {
  min-height: 36px;
  &[multiple="multiple"] {
    height: auto;
  }
}

.ctools-dropbutton {
  .ctools-content a,
  input.btn,
  input[type="submit"] {
    color: #666;
    &:hover,
    &:focus,
    &:active {
      border:none;
      color: $brand-primary;
    }
  }
}
.field-type-file input[type="submit"],
.input-group-addon, 
.input-group-btn {
  width: auto;
}
div.vertical-tabs .form-type-textfield input {
  width: 85%;
  height: auto;
}
// Colorizer.
.colorizer-form {
  .form-control {
    width: 50%;
  }
  label {
    float:none;
    display: block;
  }
  #palette {
    clear: both;
    .item-selected {
      background-color: transparent;
    }
  }
}
.bue-ui {
  background-color: #ffffff;
}
// Chosen.
.chzn-container-single {
  max-width: 100%;
}
div.autocomplete-deluxe-multiple,
.chzn-container-multi {
  width: 100% !important;
}
.chzn-container-multi .chzn-choices .search-field input {
  height: auto;
}
#context-blockform td.blocks .label {
  background-color: $gray;
}
.tabledrag-hide .chzn-container-single {
  width: 20px !important;
}

div.autocomplete-deluxe-container input.autocomplete-deluxe-form-single {
  float: left;
}

fieldset fieldset {
  padding-top: 40px;
  position: relative;
}
fieldset.collapsible {
  padding-top: 0;
}
#og-group-ref-add-more-wrapper fieldset,
fieldset.group-primary {
  padding-top: 0;
  legend {
    display: none;
  }
}

.horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 0;
}
div.horizontal-tabs {
  border: none;
}

.form-managed-file {
  input.form-file {
    @include border-radius($border-radius-base 0 0 $border-radius-base);
    border: 1px solid $border;
    padding: 5px;
    margin: 0 0 10px 0;
  }
  input.form-submit {
    @extend %button-attached;
  }
  .input-group-btn {
    display: inline-block;
    vertical-align: top;
  }
  #edit-field-upload-und-0-remove-button {
    margin: 0 0 10px 10px;
  }
}
.image-widget-data input.btn {
  @extend %button-attached;
}

.path-form.panel-default {
  border-color: transparent;
  .panel-body {
    padding:0;
  }
}

// OG.
.list-group-item {
  background-color: transparent;
  border: none;
  color: $text-color;
  padding: 0;
}

.filter-wrapper {
  padding: 10px;
}

#body-add-more-wrapper {
  .panel-body {
    padding: 0;
  }
}

