.search-form,
#dkan-sitewide-dataset-search-form,
#dkan-sitewide-dataset-search-form--2 {
  @include searchbox;
  position: relative;
}
#dkan-sitewide-dataset-search-form,
#dkan-sitewide-dataset-search-form--2 {
  input[type="submit"] {
    top: 3px;
  }
  label {
    @extend %screenreader;
  }
}

#region-branding #block-dkan-sitewide-dkan-sitewide-search-bar label {
  @extend %screenreader;
}

#block-dkan-sitewide-dkan-sitewide-search-bar {
  @media all and (min-width:768px) {
    position: absolute;
    top: 10px;
    right: 15px;
    width:172px;
    form {
      width:172px;
    }
    input.form-control {
      width:170px;
      height: 36px;
      margin: 0;
    }
  }
  @include searchbox;
  clear: both;
  .views-exposed-form .form-submit {
    margin:22px 0 0;
    text-shadow: none;
  }
  input[type="submit"] {
    top: 3px;
  }
}


.facet-icon {
  font-size: 1.7em;
  padding-right: .3em;
  vertical-align: middle;
}

.search-result-icon {
  font-size: 2.6em;
  margin-top: 0.7em;
  display: block;
}

.node-search-result .icon-container {
  text-align: center;
}

.search-result-description {
  ul.resource-list {
    margin-top: 0.9em;
  }
  .resource-list li:first-child {
    margin-left: 0px;
  }
  .resource-list li a{
    margin-left: 0px;
  }
  .group-membership{
    font-size: 0.9em;
    font-style: italic;
    color: #999;
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0px;
  }
}
